<mat-card class="d-flex flex-column align-items-center p-0">
    <button class="btn btn-link position-absolute top-0 end-0 text-light"
            *ngIf="!CloseIconHide"
            (click)="dialogHandler.CloseDialog();">
        <mat-icon class="mat-18">close</mat-icon>
    </button>
    <div class="bg-primary w-100 text-center text-white rounded-top">
        <p class="BusinessName"
           [routerLink]="['']">Coding Bible</p>
        <p style="font-family: 'Pacifico', cursive;"
           class="fs-5">Welcome back</p>
    </div>
    <!-- <mat-card-subtitle>Sign in to our store</mat-card-subtitle> -->

    <form [formGroup]="loginForm"
          (ngSubmit)="loginForm.valid">
        <div class="form-container calibri-font p-3">
            <div class="alert alert-danger"
                 *ngIf="(ValidationErrors$|async)?.length!>0">
                <p><strong>{{Constants.FormValidationErrors.PleaseCorrectErrors}}</strong></p>
                <ul>
                    <li *ngFor="let error of (ValidationErrors$|async)">
                        <strong>{{error.key}}</strong> : {{error.message}}
                    </li>
                </ul>
            </div>
            <!-- ----------------------------------------------------------------------------------
            ||                                 Email                                             ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="Constants.defaultFormAppearance"
                            class="w-100">
                <mat-label><span>{{Constants.FormFieldsNames.Email}}</span></mat-label>
                <input matInput
                       [type]="Constants.InputFieldTypes.email"
                       value=""
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="Constants.FormControlNames.email" />
                <mat-icon matSuffix>email</mat-icon>

                <mat-error
                           *ngIf="loginForm.get(Constants.FormControlNames.email)?.hasError(Constants.FormValidationErrorsNames.pattern)">
                    {{Constants.FormValidationErrors.EnterValidEmail}}
                </mat-error>
                <mat-error
                           *ngIf="
                           loginForm.get(Constants.FormControlNames.email)?.hasError(Constants.FormValidationErrorsNames.required)">
                    {{Constants.FormValidationErrors.EnterValidEmail}}
                </mat-error>
            </mat-form-field>
            <!-- ----------------------------------------------------------------------------------
            ||                                Password                                            ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="Constants.defaultFormAppearance"
                            class="w-100"
                            [tooltip]="PasswordValidations"
                            [tooltipIsOpen]="loginForm.get(Constants.FormControlNames.password)?.errors&&password.value?true:false"
                            tooltipTrigger="focus">
                <mat-label><span>{{Constants.FormFieldsNames.Passowrd}}</span></mat-label>
                <input matInput
                       #password
                       [type]="Constants.InputFieldTypes.password"
                       value=""
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="Constants.FormControlNames.password" />
                <mat-icon matSuffix
                          (click)="password.type===Constants.InputFieldTypes.password?
                          password.type=Constants.InputFieldTypes.text:password.type===Constants.InputFieldTypes.text?
                          password.type=Constants.InputFieldTypes.password:''">
                    <span class="material-icons">
                        {{password.type===Constants.InputFieldTypes.password?'visibility':'visibility_off'}}
                    </span>
                </mat-icon>

                <mat-error
                           *ngIf="loginForm.get(Constants.FormControlNames.password)?.hasError(Constants.FormValidationErrorsNames.required)">
                    {{Constants.FormValidationErrors.RequiredField}}
                </mat-error>
                <ng-template #PasswordValidations>
                    <ul class="text-start"
                        *ngIf="!loginForm.get(Constants.FormControlNames.password)?.value">
                        <li>
                            {{Constants.FormValidationErrors.Password.minLength}}
                        </li>
                        <li>
                            {{Constants.FormValidationErrors.Password.hasCapitalCase}}
                        </li>
                        <li>
                            {{Constants.FormValidationErrors.Password.hasNumber}}
                        </li>
                        <li>
                            {{Constants.FormValidationErrors.Password.hasSmallCase}}
                        </li>
                        <li>
                            {{Constants.FormValidationErrors.Password.hasSpecialCharacters}}
                        </li>
                    </ul>
                    <ul class="text-start"
                        *ngIf="loginForm.get(Constants.FormControlNames.password)?.value">
                        <li *ngIf="
                        loginForm.get(Constants.FormControlNames.password)?.
                             hasError(Constants.FormValidationErrorsNames.password.minLength)">
                            {{Constants.FormValidationErrors.Password.minLength}}
                        </li>
                        <li *ngIf="loginForm.get(Constants.FormControlNames.password)?.
                        hasError(Constants.FormValidationErrorsNames.password.hasCapitalCase)">
                            {{Constants.FormValidationErrors.Password.hasCapitalCase}}
                        </li>
                        <li *ngIf="loginForm.get(Constants.FormControlNames.password)?.
                        hasError(Constants.FormValidationErrorsNames.password.hasNumber)">
                            {{Constants.FormValidationErrors.Password.hasNumber}}
                        </li>
                        <li *ngIf="loginForm.get(Constants.FormControlNames.password)?.
                        hasError(Constants.FormValidationErrorsNames.password.hasSmallCase)">
                            {{Constants.FormValidationErrors.Password.hasSmallCase}}
                        </li>
                        <li *ngIf="loginForm.get(Constants.FormControlNames.password)?.
                        hasError(Constants.FormValidationErrorsNames.password.hasSpecialCharacters)">
                            {{Constants.FormValidationErrors.Password.hasSpecialCharacters}}
                        </li>
                    </ul>
                </ng-template>
            </mat-form-field>
            <!-- ----------------------------------------------------------------------------------
            ||                               Forget password                                      ||  
            --------------------------------------------------------------------------------------->
            <div class="d-flex flex-row flex-wrap justify-content-between">
                <div class="form-check form-switch">
                    <input class="form-check-input"
                           [type]="Constants.InputFieldTypes.checkbox"
                           [formControlName]="Constants.FormControlNames.rememberMe"
                           id="flexSwitchCheckChecked">
                    <label class="form-check-label"
                           for="flexSwitchCheckChecked">{{Constants.FormConstants.RememberMe}}</label>
                </div>
                <a class="btn-link text-decoration-none fw-bold cursor-pointer"
                   (click)="dialogHandler.CloseDialog(); dialogHandler.OpenForgetPassword()">Forget password?</a>
            </div>
            <!------------------------Mat-Dialog-actions--------------------------->
            <div>
                <button mat-raised-button
                        color="primary"
                        dir="ltr"
                        [disabled]="loginForm.invalid || (loginForm.valid && (loading$ | async))"
                        class="w-100 mt-3"
                        aria-label="press to login"
                        (click)="Login()">
                    <mat-icon>
                        <mat-spinner diameter="20"
                                     color="warn"
                                     *ngIf="(loading$ | async)"></mat-spinner><span
                              *ngIf="!(loading$ | async)">login</span>
                    </mat-icon>
                    {{(loginForm.valid || loginForm.invalid) && !(loading$ | async)?Constants.FormConstants.Login:''}}
                </button>
            </div>
            <!--End Mat-Dialog-actions-->
        </div>

    </form>
    <p *ngIf="ShowCardFooter"
       class="calibri-font m-3 fs-6 d-flex justify-content-center">
        {{Constants.FormConstants.DontHaveAccount}}&nbsp; <a
           class="text-decoration-none btn-link fw-bold cursor-pointer"
           (click)="dialogHandler.CloseDialog(); dialogHandler.OpenRegister();">
            {{Constants.FormConstants.JoinNow}}.
        </a>
    </p>
</mat-card>
<p *ngIf="!ShowCardFooter"
   class="calibri-font mt-3 fs-6 d-flex justify-content-center">
    {{Constants.FormConstants.DontHaveAccount}}&nbsp; <a class="text-decoration-none btn-link fw-bold cursor-pointer"
       (click)="dialogHandler.CloseDialog();"
       [routerLink]="['',Routes.AuthRoutes.Register]">
        {{Constants.FormConstants.JoinNow}}.
    </a>
</p>