<h1 class="my-3">Courses</h1>
<main class="mt-5 bg-white mat-elevation-z3 rounded-2">
    <cb-table [tableTagClass]="['table', 'table-stripped', 'table-hover']"
              [ColumnDefs]="colDefs"
              [dataSource]="Courses$|async"
              (AddButtonClicked)="AddNewCourse($event)"
              (EditButtonClicked)="EditCourse($event)"
              (DeleteButtonClicked)="DeleteCourse($event)"
              (row_Db_Click)="EditCourse($event)"
              [isLoading]="isLoading"
              [resetSelectedRow]="resetSelectedRow">
    </cb-table>
</main>