<form fxLayout="column"
      [formGroup]="form"
      class="mt-2 mx-2">
    <h1>Add new Post</h1>
    <div fxLayout="row"
         fxLayout.lt-sm="column"
         fxLayoutAlign="space-between">
        <div fxFlex="79%"
             fxLayout="column">
            <input type="text"
                   #title
                   (blur)="CreateSlug(title, slug)"
                   class="form-control mb-2"
                   placeholder="Add Title" />
            <input type="text"
                   disabled
                   #slug
                   class="form-control mb-2"
                   placeholder="sulg" />
            <editor formControlName="content"
                    (onSelectionChange)="GetData()"
                    plugins=" autolink lists media anchor autolink pagebreak visualblocks lists nonbreaking table wordcount autoresize autosave charmap fullscreen importcss link
                    code codesample  directionality emoticons help hr image insertdatetime preview searchreplace template"
                    toolbar="'undo redo anchor | formatselect | bold italic underline| table template|ltr rtl link| forecolor backcolor|subscript superscript charmap|
                                alignleft aligncenter alignright alignjustify | codesample nonbreaking pagebreak preview searchreplace
                                | bullist numlist | outdent indent |code emoticons fullpage fullscreen image help visualblocks| insertdatetime'
                               "
                    [init]="{
                        height : 1000,
                        base_url: '/tinymce',
                        suffix: '.min'
                    }">
            </editor>

        </div>
        <div fxFlex="20%">
            test
        </div>
    </div>

</form>