<footer class="bg-dark container-fluid pt-5">
    <div class="row p-0 m-0 w-100">
        <div class="col-12 col-md-3">
            <h4>Coding Bible</h4>
            <p>
                Start learning coding today!
            </p>
            <p>
                If you have any question, please contact us.
            </p>
        </div>
        <div class="col-12 col-md-3">
            <h5 class="h6">Pages</h5>
            <ul>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <h5 class="h6">Contact us</h5>
            <ul>
                <li>admin@coding-bible.com</li>
            </ul>
        </div>
        <div class="col-12 col-md-3">
            <h5 class="h6">Follow us</h5>
            <ul class="d-flex flex-row gap-2">
                <li><a href="https://www.facebook.com/codingbibleEnglish"><i class="bi bi-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/CodingBibleEN"><i class="bi bi-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>