<h1 class="my-3">Sections</h1>
<main class="mt-5 bg-white mat-elevation-z3 rounded-2">
    <select class="form-select mb-3"
            #CourseSelector
            (change)="onCourseChange(CourseSelector.value)">
        aria-label=".form-select-lg example">
        <option selected
                [disabled]="true">Choose course</option>
        <option [value]="c.id"
                *ngFor="let c of (Courses$|async)">{{c.name}}</option>
    </select>
    <cb-table [tableTagClass]="['table', 'table-stripped', 'table-hover']"
              [ColumnDefs]="colDefs"
              [dataSource]="selectedSections"
              [CustomMenuButton]="ChangeStatusMenu"
              (AddButtonClicked)="AddNewSection($event)"
              (EditButtonClicked)="EditSection($event)"
              (DeleteButtonClicked)="DeleteSection($event)"
              (row_Db_Click)="EditSection($event)"
              (rowClick)="SelectSection($event)"
              [isLoading]="isLoading"
              [resetSelectedRow]="resetSelectedRow">
    </cb-table>
    <ng-template #ChangeStatusMenu>
        <a class="cursor-pointer"
           (click)="ChangeStatus(1)"
           *ngIf="SelectedSection &&SelectedSection.name!=='' &&SelectedSection?.status===0">Set as published</a>
        <a class="cursor-pointer"
           (click)="ChangeStatus(0)"
           *ngIf="SelectedSection && SelectedSection.name!=='' &&SelectedSection?.status===1">Set as draft</a>
    </ng-template>
</main>