<h1 class="my-3">Sections</h1>
<main class="mt-5 bg-white mat-elevation-z3 rounded-2">
    <select class="form-select mb-3"
            #CourseSelector
            [(ngModel)]="SelectedCourseId"
            (change)="onCourseChange(CourseSelector.value)">
        <option selected
                [disabled]="true"
                value="0">Choose course</option>
        <option [value]="c.id"
                *ngFor="let c of (Courses$|async)">{{c.name}}</option>
    </select>
    <cb-table [tableTagClass]="['table', 'table-stripped', 'table-hover']"
              [ColumnDefs]="colDefs"
              [dataSource]="selectedSections"
              [UseTree]="true"
              [CustomMenuButton]="ChangeStatusMenu"
              (AddButtonClicked)="AddNewSection($event,SectionModal)"
              (EditButtonClicked)="EditSection($event,SectionModal)"
              (DeleteButtonClicked)="DeleteSection($event)"
              (row_Db_Click)="EditSection($event,SectionModal)"
              (rowClick)="SelectSection($event)"
              [isLoading]="isLoading"
              [resetSelectedRow]="resetSelectedRow">
    </cb-table>
    <ng-template #ChangeStatusMenu>
        <a class="cursor-pointer"
           (click)="ChangeStatus(1)"
           *ngIf="SelectedSection &&SelectedSection.name!=='' &&SelectedSection?.status===0">Set as published</a>
        <a class="cursor-pointer"
           (click)="ChangeStatus(0)"
           *ngIf="SelectedSection && SelectedSection.name!=='' &&SelectedSection?.status===1">Set as draft</a>
    </ng-template>
</main>
<section-modal #SectionModal
               [ActionType]="SectionActionType"
               [CourseId]="SelectedCourseId"
               [UpdateObject]="SectionToAddOrUpdate"
               [ModalId]="'SectionModalInShowAllSections'"></section-modal>