<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="Category"></basic-skeleton>
<ng-template #Category>
    <header class="coding-bible-card">
        <page-title *ngIf="currentCourseCategory else placeHolder"
                    [title]="currentCourseCategory?.name!"
                    [description]="currentCourseCategory?.description!"></page-title>
        <ng-template #placeHolder>
            <page-title-placeholder></page-title-placeholder>
        </ng-template>
    </header>
    <course-card *ngFor="let c of (CourseCategoryBySlug|async)?.courses"
                 [Course]="c"></course-card>
</ng-template>