<div class="mb-2">
    <div *ngIf="Section && Section.isLeafSection"
         class="section border border-1 p-1">
        <h5 *ngIf="showSectionName"
            class="bg-light p-1 border-bottom border-1 border-dark">
            <span>{{Section.name}}</span>
        </h5>
        <div class="p-2 lessons">
            <div *ngFor="let s of selectedLessons"
                 class="d-flex flex-sm-row flex-column justify-content-between bg-white rounded-1 my-3 p-2 mat-elevation-z3 border-purple">
                <div class="text-center">
                    {{s.name}}
                </div>
                <div class="d-flex flex-row justify-content-center gap-2 small">
                    <span class="text-dark"
                          *ngIf="s.vedioUrl!==''&&s.htmlContent!==''">
                        <span class="text-success">Video</span> |
                        <span class="text-success">Content</span>
                    </span>
                    <span class="text-dark"
                          *ngIf="s.vedioUrl!==''&&s.htmlContent===''">
                        <span class="text-success">Video</span> |
                        <span class="text-danger text-decoration-line-through">Content</span>
                    </span>
                    <span class="text-dark"
                          *ngIf="s.vedioUrl===''&&s.htmlContent!==''">
                        <span class="text-danger text-decoration-line-through">Video</span> |
                        <span class="text-success">Content</span>
                    </span>
                    <span class="text-dark"
                          *ngIf="s.vedioUrl===''&&s.htmlContent===''">
                        <span class="text-danger text-decoration-line-through">Video</span> |
                        <span class="text-danger text-decoration-line-through">Content</span>
                    </span>
                    <span class="text-dark">
                        {{s.status===PostStatus.Draft?'Draft':'Published'}}
                    </span>
                    <a class="btn py-0 px-1 text-primary small"
                       (click)="openToEdit(s.id)">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="Section && !Section.isLeafSection"
         [id]="Section?.name"
         class="p-2 border border-1 d-flex flex-column gap-2">
        <h5 *ngIf="showSectionName"
            class="bg-light p-1">
            <span>{{Section?.name}}</span>
        </h5>
        <div *ngFor="let ch of children"
             class="d-flex flex-column gap-2">
            <app-section-child [Section]="ch"></app-section-child>
        </div>
    </div>
</div>