<div class="mb-2">
    <div *ngIf="Section && Section.isLeafSection"
         [dir]="Section.isArabic?'rtl':'ltr'"
         class="section border border-1 p-1">
        <h5 *ngIf="showSectionName"
            class="bg-light p-1 border-bottom border-1 border-dark">
            <span>{{Section.name}}</span>
        </h5>
        <div class="lessons">
            <div *ngFor="let s of selectedLessons"
                 class="mx-1 row bg-white rounded-1 my-3 p-2 mat-elevation-z3 border-purple">
                <div class="col-sm-7 col-12 ps-1">
                    <div class="row">
                        <div class="col-1">
                            <div class="d-flex align-items-center h-100">
                                <div class="fw-bold badge bg-primary">{{s.orderWithinSection}} </div>
                            </div>
                        </div>
                        <div class="col-11">
                            <div class="d-flex align-items-center h-100">
                                {{s.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 col-12 small ps-1 ">
                    <div class="h-100 d-flex flex-row flex-wrap align-items-center
                    gap-2 justify-content-between">
                        <span class="d-flex gap-1">
                            <span [class]="s.vedioUrl?'badge bg-success':'badge bg-danger'">
                                <i [class]="!s.vedioUrl?'bi bi-x':'bi bi-check'"></i>
                                Video
                            </span>
                            <span [class]="s.htmlContent?'badge bg-success':'badge bg-danger'">
                                <i [class]="!s.htmlContent?'bi bi-x':'bi bi-check'"></i>
                                Content
                            </span>
                        </span>
                        <span class="badge bg-info text-dark"
                              *ngIf="s.status===PostStatus.Published">
                            Published
                        </span>
                        <span class="badge bg-warning text-dark"
                              *ngIf="s.status===PostStatus.Draft">
                            Draft
                        </span>
                        <a class="btn py-0 px-1 text-primary d-flex justify-content-end"
                           (click)="openToEdit(s.id)"><small>Edit</small></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="Section && !Section.isLeafSection"
         [id]="Section?.name"
         class="p-2 border border-1 d-flex flex-column gap-2">
        <h5 *ngIf="showSectionName"
            class="bg-light p-1">
            <span>{{Section?.name}}</span>
        </h5>
        <div *ngFor="let ch of children"
             class="d-flex flex-column gap-2">
            <app-section-child [Section]="ch"></app-section-child>
        </div>
    </div>
</div>