@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Fira+Code:wght@300;600;700&family=Nunito:wght@500;600;700;900&display=swap');
@import url("./assets/Fonts/Chewy/stylesheet.css");
/*'Fredoka One'*/
@import url("./assets/Fonts/Fredoka_One/stylesheet.css");
/*'Jomhuria'*/
@import url("./assets/Fonts/Jomhuria/stylesheet.css");
/*'Patrick Hand'*/
@import url("./assets/Fonts/Patrick_Hand/stylesheet.css");
/*'Scheherazade New'*/
@import url("./assets/Fonts/Scheherazade_New/stylesheet.css");
/*'Paytone One'*/
@import url("./assets/Fonts/Paytone_One/stylesheet.css");
/*'Titan One'*/
@import url("./assets/Fonts/Titan_One/stylesheet.css");
/*Lalezar*/
@import url("./assets/Fonts/Lalezar/stylesheet.css");
/*'Almarai'*/
@import url("./assets/Fonts/Almarai/stylesheet.css");
/*'Noto Sans Arabic'*/
@import url("./assets/Fonts/Noto_Sans_Arabic/stylesheet.css");
/*'Calibri'*/
@import url("./assets/Fonts/calibri/stylesheet.css");
/*'HacenCasablancaHeavy'*/
@import url("./assets/Fonts/HacenCasablancaHeavy/stylesheet.css");

:root {
  /*.....................................Fonts.........................*/
  --Almarai: "Almarai";
  --Chewy: "Chewy";
  --Fredoka: "Fredoka One";
  --Jomhuria: "Jomhuria";
  --Patrick: "Patrick Hand";
  --Scheherazade: "Scheherazade New";
  --Paytone: "Paytone One";
  --Titan: "Titan One";
  --NotoSansArabic: "Noto Sans Arabic";
  --Lalezar: "Lalezar";
  --Calibri: "Calibri";
  --Hacen: "Hacen Casablanca";
  /*......................................colors..........................*/
  --sucessColor: #2dce89;
  --infoColor: #11cdef;
  --WarningCOlor: #fa3a0e;
  --DangerColor: #f5365c;
  --PrimaryColor_Active: #324cdd;
  --PrimaryColor: #5e72e4;
  --main-color: #1a0f91;
  --ButtonColor: #C9493D;
  --Nuito-font: 'Nunito', sans-serif;
  --bg-main-color: #f0f2f5;
  --my-shadow: 2px 2px 11px -3px #cfcfcf;
  --homepage-titles-color: #0b0161;
  --FiraCode-font: 'Fira Code', monospace;
  --PlayList-color: rgba(33, 37, 41, 1) !important;
  --dark-color: rgba(33, 37, 41);
  --Violet-color: #4F52FF;
  --light-gray: rgb(211, 211, 211)
}

.calibri-font {
  font-family: var(--Calibri) !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.SwalHtmlContent {
  font: inherit;
  font-weight: normal;
  font-size: 1.9rem !important;
}

.SwalErrorTitle {
  color: #f44336 !important;
}

.SwalWarningTitle {
  color: #ffc107 !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.BusinessName {
  font-size: 30px;
  margin: 20px !important;
  font-family: fantasy;
  cursor: pointer;
}

.font-Almarai {
  font-family: var(--Almarai) !important;
}

.font-titan {
  font-family: var(--Titan);
}

.font-Scheherazade {
  font-family: var(--Scheherazade);
}

.cursor-pointer {
  cursor: pointer;
}

body {
  background: transparent;
}

.userIconImage {
  border-radius: 50%;
  border: 2px solid white;
}


.border-bottom-forDark {
  border-bottom: solid 1px #e6e6e6 !important;
  border-radius: 0% !important;
}

.mw-50 {
  min-width: 50px;
}

.mh-50 {
  min-height: 50px;
}

.mat-menu-item {
  line-height: 30px !important;
  height: 30px !important;
}

.mat-menu-panel {
  min-height: 0 !important;
}

.mat-menu-panel::after {
  right: 0;
  border: solid 8px transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #f0f0f1;
  top: 50%;
  margin-top: -8px;
}

.mat-form-field-infix {
  width: 100%;
}

.imageToolTip {
  color: white;
  padding: 0;
  margin: 0;
}

.validationDiv {
  height: 10px;
  max-height: 30px;
  font-size: 12px !important;
  margin-top: 3px !important;
}

.img-thumbnail {
  max-height: 120px !important;
  object-fit: contain;
}

select option:checked {
  background-color: #e3ffbb !important;
  font-weight: bold !important;
}

select option:checked:active::selection {
  color: red;
  background: yellow;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.text_justify-right {
  text-align: justify;
  text-align-last: right;
  text-justify: inter-word;
}

.text_justify-left {
  text-align: justify;
  text-align-last: left;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.align-center {
  clear: both;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  display: inline !important;
  float: left;
  margin-right: 24px;
  margin-top: 4px;
}

.align-right {
  display: inline !important;
  float: right;
  margin-left: 24px;
  margin-top: 4px;
}

img,
figure {
  box-shadow: 0px 0px 5px grey;
}

figure img {
  box-shadow: none;
  margin: 0 !important;
}

figure figcaption {
  padding: 0.2rem 0;
  background: #e4e4e483;
  color: rgb(24, 19, 19);
}

figure {
  border-radius: 0.25rem;
}

figure.figure img {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 1.0rem;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  overflow: overlay !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noShadow {
  box-shadow: none !important;
}

.flex-grow-1 {
  flex-grow: 1;
}

.disabledAnchor,
.playlist li.active a {
  pointer-events: none;
}

.disabledAnchor {
  color: gray;
  opacity: 0.5;
}

.border-purple {
  border: 1px solid #6328d0c4;
}

.myShadow {
  box-shadow: var(--my-shadow);
}

/* [dir='rtl'] .form-control.is-valid, .was-validated .form-control:valid{
  padding-left: calc(1.5em + .75rem);
  padding-right: 0;
  background-position: left calc(0.375em + 0.1875rem) center;
}
[dir='rtl'] .form-control.is-invalid, .was-validated .form-control:invalid{
  padding-left: calc(1.5em + .75rem);
  padding-right: 0;
  background-position: left calc(.375em + .1875rem) center;
}
[dir="rtl"] .was-validated textarea.form-control:invalid, textarea.form-control.is-invalid{
  padding-left: calc(1.5em + .75rem);
  padding-right: 0;
  background-position: top calc(.375em + .1875rem) left calc(.375em + .1875rem) !important;
}
[dir="rtl"] .was-validated textarea.form-control:valid, textarea.form-control.is-valid{
  padding-left: calc(1.5em + .75rem);
  padding-right: 0;
  background-position: top calc(.375em + .1875rem) left calc(.375em + .1875rem) !important;
}
[dir='rtl'].form-floating label{
  left:unset;
}

[dir='rtl'].form-floating .form-control{
  padding-right: 1.0rem;
}
[dir='rtl'].form-floating label {
  display: flex;
  flex-direction: row;
}
[dir='rtl'].form-floating  label sup {
  line-height: 2;
} */

/* .form-floating>textarea:focus~label, .form-floating>textarea:not(:placeholder-shown)~label, .form-floating>textarea~label{
  right: -21px;
} */
.textArea-no-resize {
  resize: none;
  height: 120px !important;
}

#HomeBody,
main {
  background-color: var(--bg-main-color);

}

.body {
  height: 100%;
  background-color: var(--bg-main-color);
}

/* .body .row{
  padding: 2.0rem 3.5rem;
} */
.coding-bible-card {
  background-color: white;
  box-shadow: 0px 2px 6px -3px rgba(5, 5, 5, 0.7);
  border-radius: 4px;
  padding: 1.0rem;
}

aside>* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.page-h1 {
  font-family: var(--Nuito-font);
  font-weight: bold;
}

* p:last-child {
  margin-bottom: 0;
}

[dir="rtl"] .page-h1 {
  font-family: var(--NotoSansArabic);
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.small-info {
  color: gray;
}

.btn-orange {
  background-color: var(--ButtonColor) !important;
}

.btn-violet {
  background-color: var(--Violet-color) !important;
}

.btn-orange,
.btn-violet {
  color: white !important;
}

[dir="rtl"] .nav-link {
  font-weight: bold;
}

a:hover {
  color: var(--main-color) !important;
}

h2.h4:hover {
  text-decoration: underline;
  color: var(--main-color);
  cursor: pointer;
}

.btn-violet:hover,
.btn-orange:hover {
  background-color: var(--main-color) !important;
}

.xng-breadcrumb-item {
  word-break: break-word;
}

.catBage a {
  color: white !important;
}

.catBage:hover {
  background-color: var(--ButtonColor) !important;
}

h2::before {
  content: "";
  border-left: 7px solid var(--ButtonColor);
}

.noBefore::before {
  display: none;
}

[dir='rtl'] .accordion-button::after {
  margin-right: auto;
  margin-left: 0;
}

.text-organge {
  color: var(--ButtonColor);
}