<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="AllCategories"></basic-skeleton>
<ng-template #AllCategories>
    <header class="coding-bible-card">
        <page-title title="{{'Courses Categories'| translate}}"
                    description="{{'AllCategoriesDesc'| translate}}"></page-title>
    </header>
    <ng-template #placeholder>
        <category-card-palceholder></category-card-palceholder>
        <category-card-palceholder></category-card-palceholder>
    </ng-template>
    <ng-container *ngIf="!Loading else placeholder">
        <ng2-adsense [adClient]="'ca-pub-6664419901582400'"
                     [adSlot]="'9724285810'"
                     [adFormat]="'auto'"
                     [fullWidthResponsive]="true"
                     [display]="'block'"></ng2-adsense>
        <course-categories-card *ngFor="let cat of (AllCategories$|async)?.cats"
                                [Category]="cat"></course-categories-card>
    </ng-container>

</ng-template>