<bootstrap-modal #CourseCategoryHandler
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="CourseCategoryHandler_header"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="CourseCategoryHandler_body"
                 ModalId="CourseCategoryHandler"
                 (CloseIsClicked)="ModelIsClosed()"
                 [Modal_Footer_template]="CourseCategoryHandler_footer"></bootstrap-modal>
<ng-template #CourseCategoryHandler_header>
    <h4 class="modal-title text-white-50 modalHeader">
        <span class="text-warning"
              *ngIf="ActionType===PostType.Add"><i class="bi bi-plus-circle-dotted text-white small"></i> Add new</span>
        <span class="text-warning"
              *ngIf="ActionType===PostType.Edit"><i class="bi bi-pencil-fill text-white small"></i> Edit </span>
        category
    </h4>
</ng-template>
<ng-template #CourseCategoryHandler_body>
    <form [formGroup]="Form"
          #form
          (submit)="Submit()"
          (ngSubmit)="Form.valid">
        <!-- *******************************************************************
            *                           Name
            **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   required
                   [formControlName]="FormControlNames.courseCategoryForm.name"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.courseCategoryForm.name, Form)?'form-control':
                               errorState.isErrorState(FormControlNames.courseCategoryForm.name, Form, form)?
                               'form-control is-invalid':'form-control is-valid'"
                   id="CatName"
                   (blur)="setIsArabic(FormControlNames.courseCategoryForm.name)"
                   [placeholder]="FormFieldsNames.Category.name">
            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.name)?.hasError(FormValidationErrorsNames.required)
                          &&errorState.isErrorState(FormControlNames.courseCategoryForm.name, Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="CatName">{{FormFieldsNames.Category.name}}</label>
        </div>
        <!-- *******************************************************************
        *                           Title
        **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   required
                   minlength="60"
                   maxlength="70"
                   [formControlName]="FormControlNames.courseCategoryForm.title"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.courseCategoryForm.title, Form)?'form-control':
                                   errorState.isErrorState(FormControlNames.courseCategoryForm.title, Form, form)?
                                   'form-control is-invalid':'form-control is-valid'"
                   id="title"
                   [placeholder]="FormFieldsNames.Category.title">
            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.title)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.title, Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.title)?.hasError(FormValidationErrorsNames.minlength)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.title, Form, form)">
                    {{FormValidationErrors.SEO_Title_Length}}
                </span>
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.title)?.hasError(FormValidationErrorsNames.maxlength)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.title, Form, form)">
                    {{FormValidationErrors.SEO_Title_Length}}
                </span>
            </div>
            <label for="title">{{FormFieldsNames.Category.title}}</label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input"
                   type="checkbox"
                   [disabled]="ActionType===PostType.Edit"
                   [formControlName]="FormControlNames.courseCategoryForm.isArabic"
                   id="isArabic"
                   (change)="SelectTranslation()">
            <label class="form-check-label fw-bold"
                   for="isArabic">
                In Arabic
            </label>
        </div>
        <!-- --------------------------------------------------------------------------- 
                                    Other slug
        ------------------------------------------------------------------------------->
        <div class="form-floating has-validation mb-3">
            <select #OtherSlugSelect
                    [class]="!errorState.isTouchedOrDirty(FormControlNames.courseCategoryForm.otherSlug, Form)?'form-select':
            errorState.isErrorState(FormControlNames.courseCategoryForm.otherSlug, Form, form)?
                    'form-select is-invalid':'form-select is-valid'"
                    id="translation"
                    [formControlName]="FormControlNames.courseCategoryForm.otherSlug"
                    (change)="clientSideSevice.setOtherSLug(OtherSlugSelect.value, Form)"
                    aria-label="Select translated url">
                <option selected
                        [value]="null">Select translation</option>
                <option value="0">Not yet</option>
                <option *ngFor="let cat of selectedTranslation"
                        [hidden]="cat.otherSlug!==null && ActionType===PostType.Add"
                        [disabled]="cat.otherSlug!==null"
                        [value]="cat.slug">
                    <span *ngFor="let _ of [].constructor(cat.level)">&nbsp;&nbsp;</span>{{cat.name}}
                </option>
            </select>

            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.otherSlug)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.otherSlug, Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="translation"
                   class="form-label">
                <span *ngIf="Form.get(FormControlNames.courseCategoryForm.isArabic)?.value===true">
                    English Translation
                </span>
                <span *ngIf="Form.get(FormControlNames.courseCategoryForm.isArabic)?.value===false">
                    Arabic Translation
                </span>
            </label>
        </div>
        <!-- *******************************************************************
        *                           Parent Category
        **********************************************************************-->
        <div class="form-floating has-validation mb-3">
            <select #parent
                    required
                    [class]="!errorState.isTouchedOrDirty(FormControlNames.courseCategoryForm.parentKey, Form)?'form-select':
                    errorState.isErrorState(FormControlNames.courseCategoryForm.parentKey, Form, form)?
                                   'form-select is-invalid':'form-select is-valid'"
                    id="parentkey"
                    [formControlName]="FormControlNames.courseCategoryForm.parentKey"
                    (change)="onChange(parent)"
                    aria-label="Select parent category">
                <option [value]="null">Select parent</option>
                <option value="0">No parent</option>
                <option *ngFor="let cat of catsForSelectmenu"
                        [value]="cat.id"
                        [disabled]="cat.id === Form.get('id')?.value">
                    <span *ngFor="let _ of [].constructor(cat.level)">&nbsp;&nbsp;</span>{{cat.name}}
                </option>
            </select>

            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.parentKey)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.parentKey, Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="parentkey"
                   class="form-label">{{FormFieldsNames.Category.parentKey}}</label>
        </div>

        <!-- *******************************************************************
         *                           Description
         **********************************************************************-->
        <div class="form-floating mb-3">
            <textarea required
                      class="textArea-no-resize"
                      rows="5"
                      minlength="50"
                      maxlength="160"
                      [formControlName]="FormControlNames.courseCategoryForm.description"
                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseCategoryForm.description, Form)?'form-control':
                                   errorState.isErrorState(FormControlNames.courseCategoryForm.description, Form, form)?
                                   'form-control is-invalid':'form-control is-valid'"
                      id="description"
                      placeholder="example"></textarea>
            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.description)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.description, Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.description)?.hasError(FormValidationErrorsNames.minlength)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.description, Form, form)">
                    {{FormValidationErrors.SEO_Description_Length}}
                </span>
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get(FormControlNames.courseCategoryForm.description)?.hasError(FormValidationErrorsNames.maxlength)
                              &&errorState.isErrorState(FormControlNames.courseCategoryForm.description, Form, form)">
                    {{FormValidationErrors.SEO_Description_Length}}
                </span>
            </div>
            <label for="description">{{FormFieldsNames.Category.description}}</label>
        </div>
    </form>
</ng-template>
<ng-template #CourseCategoryHandler_footer>
    <button type="button"
            *ngIf="ActionType === PostType.Add"
            (click)="Submit()"
            [disabled]="!Form.valid"
            class="btn btn-primary">
        Submit
    </button>
    <button type="button"
            *ngIf="ActionType === PostType.Edit"
            (click)="Update()"
            [disabled]="!Form.valid"
            class="btn btn-primary">
        Save
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="ModelIsClosed()"
            data-bs-dismiss="modal">Close</button>
</ng-template>