<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="ALlCourses"></basic-skeleton>
<ng-template #ALlCourses>
    <header class="coding-bible-card">
        <page-title title="{{'Courses'| translate}}"
                    description="{{'AllCoursesPageDescription'| translate}}"></page-title>
    </header>
    <ng2-adsense [adClient]="'ca-pub-6664419901582400'"
                 [adSlot]="'1331253495'"
                 [adFormat]="'auto'"
                 [fullWidthResponsive]="true"
                 [display]="'block'"></ng2-adsense>
    <ng-container *ngIf="!loading else placeholder">
        <course-card *ngFor="let c of (AllCourses$|async)"
                     [Course]="c"></course-card>
    </ng-container>
    <ng-template #placeholder>
        <course-card-palceholder></course-card-palceholder>
        <course-card-palceholder></course-card-palceholder>
    </ng-template>
</ng-template>