<app-home-nav-menu [LocationName]="'courses'"
                   style="z-index: 1;"></app-home-nav-menu>
<basic-skeleton [Body]="ALlCourses"></basic-skeleton>
<ng-template #ALlCourses>
    <header class="coding-bible-card">
        <page-title title="{{'Courses'| translate}}"
                    description="{{'AllCoursesPageDescription'| translate}}"></page-title>
    </header>
    <img src="../../../../assets/img/horizontal.png"
         class="noShadow"
         alt="">
    <course-card *ngFor="let c of (AllCourses$|async)"
                 [Course]="c"></course-card>
</ng-template>