<header [dir]="(isArabic|async)?'rtl':'ltr'">
    <nav class="navbar navbar-expand-lg navbar-light p-0 navBarSahdow bg-white">
        <div class="container-fluid px-5">
            <div class=" d-md-block d-none">
                <div class="d-flex flex-row h-100 align-content-center gap-2">
                    <div style="width: 50px;"
                         class="d-flex align-items-lg-center">
                        <img src="../../../assets/img/logo.svg"
                             class="img-fluid noShadow"
                             style>
                    </div>
                    <a class="navbar-brand fs-4"
                       [routerLink]="(isArabic|async)?['','ar']:['']">
                        <span class="fw-bold">C</span>oding <span class="fw-bold">B</span>ible</a>
                </div>
            </div>
            <div class="d-md-none d-block">
                <div class="d-flex flex-row h-100 align-content-center gap-2 ">
                    <a class="navbar-brand fs-4"
                       [routerLink]="(isArabic|async)?['','ar']:['']">
                        <span class="fw-bold">C</span>oding <span class="fw-bold">B</span>ible</a>
                </div>
            </div>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                 id="navbarNavDropdown">
                <div class="w-100 d-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               [routerLink]="(isArabic|async)?['','ar']:['']">{{'Home'| translate}}</a>
                        </li>
                        <li *ngFor="let m of selectedMenu?.menuItems">
                            <a class="nav-link"
                               [routerLink]="(isArabic|async)?['','ar',m.arUrl]:[m.enUrl]">
                                <span *ngIf="(isArabic|async)">
                                    {{m.arName}}
                                </span>
                                <span *ngIf="!(isArabic|async)">
                                    {{m.enName}}
                                </span>
                            </a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               id="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Courses
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item"
                                       href="#">Action</a></li>
                                <li><a class="dropdown-item"
                                       href="#">Another action </a></li>
                                <li><a class="dropdown-item"
                                       href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                    </ul>
                </div>
                <div class="d-flex flex-row gap-1">
                    <button #en
                            [class]="!(isArabic|async)?'buttonAction btn text-dark noShadow langBtn':'btn text-dark noShadow langBtn'"
                            (click)="gotToEnglish()">En</button>
                    <button #ar
                            [class]="(isArabic|async)?'buttonAction btn text-dark noShadow langBtn':'btn text-dark noShadow langBtn'"
                            (click)=" gotToArabic()">Ar</button>
                </div>
                <!-- <div class="btn-group w-25"
                     role="group"
                     aria-label="First group"> -->
                <!-- <a class="btn btn-outline-primary"
                       [routerLink]="['', AuthRoutes.account, AuthRoutes.Register]">Register</a>
                    <a class="btn btn-outline-primary"
                       [routerLink]="['', AuthRoutes.account, AuthRoutes.Login]">Login</a> -->
                <!-- </div> -->
                <!-- <div class="dropdown h-100 border-end border-start"
                     *ngIf="(IsLoggedIn|async)?.isLoggedIn">
                    <div class="dropdown-toggle p-2 d-flex flex-row gap-2 cursor-pointer align-items-center"
                         data-bs-toggle="dropdown"
                         matRipple
                         aria-expanded="false">
                        <span class="rounded-circle p-2 d-flex justify-content-center align-items-center img-thumbnail mat-elevation-z2"
                              style="width: 40px; height: 40px;">
                            <span class="fs-6 fw-bold">
                                KK
                            </span>
                        </span>
                        <span class="d-flex flex-column">
                            <span class="text-nowrap">{{(User|async)?.firstname}} {{(User|async)?.lastname}}</span>
                            <span class="text-muted small">
                                <ng-container *ngFor="let role of (UserRoles|async); let i =index">
                                    {{i===(UserRoles|async)?.length!-1?role:role+','}}
                                </ng-container>
                            </span>
                        </span>
    
                    </div>
                    <ul class="dropdown-menu w-100"
                        aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item cursor-pointer"
                               [routerLink]="['', DashboardHome]">
                                <i class="bi bi-speedometer2"></i><span class="ms-3">Dashboard</span>
                            </a>
                        </li>
                        <li><a class="dropdown-item cursor-pointer">
                                <i class="bi bi-person-fill"></i>
                                <span class="ms-3">Profile</span>
                            </a>
                        </li>
                        <li><a class="dropdown-item cursor-pointer">
                                <i class="bi bi-gear-fill"></i><span class="ms-3">Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item cursor-pointer"
                               (click)="logout()">
                                <i class="bi bi-arrow-right-square-fill"></i><span class="ms-3">Logout</span>
                            </a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </nav>
</header>