.logo-width {
    width: 40px;
}

.navBarSahdow {
    box-shadow: var(--my-shadow)
}

.navbar-nav .nav-item .nav-link {
    font-size: 16.5px;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:focus {
    color: var(--main-color);
}

.dropdown-menu {
    display: block;
    min-width: 200px;
    visibility: hidden;
    box-shadow: 2px 2px 11px -3px #cfcfcf;
    border: none;
    border-top: 3px solid var(--main-color);
    transform: translateY(40px);
    transition: visibility transform 200ms cubic-bezier(.52, .5, .7, .71);
}

.dropdown-menu.show {
    visibility: visible;
    transform: translateY(15px);
    transition: all 200ms cubic-bezier(.52, .5, .7, .71);
}

.dropdown-item:hover,
.dropdown-item:focus {
    background: none;
    color: var(--main-color);
    font-weight: 700;
}

[dir='rtl'] .dropdown-toggle::after {
    margin-right: .255em;
}

.nav-item,
.accordion {
    font-family: var(--Nuito-font);
    font-weight: 700;
}

.nav-item-roots {
    padding: 1rem !important;
}

header {
    z-index: 1;
}

.navbar-brand {
    font-family: var(--FiraCode-font) !important;
}

.langBtn {
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.langBtn:hover,
.buttonAction {
    background: var(--dark-color);
    color: white !important;
    transition: all 0.3s ease-in-out;
}

[dir='rtl'] .nav-link {
    font-family: 'Cairo', sans-serif;
}

.dropdown-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dropdown-menu {
    width: 250px;
}

.dropdown a span,
.nav-item-roots span {
    white-space: break-spaces;
}

[dir='rtl'] .dropdown-item span {
    direction: rtl !important;
}

.accordion-button,
.accordion-item {
    border-radius: 0 !important;
    background-color: transparent;
    box-shadow: none;
}

.accordion-item {
    border: 0px !important;
}

.accordion-button {
    color: white;
    border-bottom: lightgray;
}

.accordion-button:not(.collapsed),
a.accordion-button:hover,
a.accordion-button:active {
    color: lightgray !important;
    background-color: black;
}

a.accordion-button:not(.collapsed)::after,
a.accordion-button.collapsed::after {
    width: 0;
    height: 0;
    background-image: none;
    transform: none;
    content: "";
    display: inline-block;

}

a.accordion-button.collapsed::after {
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
    border-top: 0;
    border-right: 0.3em solid transparent;
}

a.accordion-button:not(.collapsed)::after {
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.accordion-body {
    box-shadow: inset 0px 0px 4px 1px #8b8b8b;
}

a.accordion-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}