<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="ShowSectiondetails"></basic-skeleton>
<ng-template #ShowSectiondetails>
    <ng-container *ngIf="loading else notLoading">
        <header class="coding-bible-card">
            <page-title-placeholder></page-title-placeholder>
        </header>
        <section class="coding-bible-card">
            <page-title-placeholder></page-title-placeholder>
            <br>
            <page-title-placeholder></page-title-placeholder>
            <br>
            <page-title-placeholder></page-title-placeholder>
            <br>

            <page-title-placeholder></page-title-placeholder>
        </section>
    </ng-container>
    <ng-template #notLoading>
        <ng-container *ngIf="currentCourse && currentSection else NotFound">
            <header class="coding-bible-card">
                <page-title [title]="currentSection?.name!"
                            [description]="currentSection?.description!"></page-title>
            </header>
            <img src="../../../../assets/img/horizontal.png"
                 class="noShadow"
                 alt="">
            <introductoy-video *ngIf="currentSection.introductoryVideoUrl"
                               [videoId]="currentSection.introductoryVideoUrl.split('watch?v=')[1]"
                               [title]="'Introductory vedio'| translate">
            </introductoy-video>
            <what-will-you-learn *ngIf="currentSection.whatWillYouLearn"
                                 [title]="'What will you learn in this section?'| translate"
                                 [whatWillYouLearn]="currentSection.whatWillYouLearn">
            </what-will-you-learn>
            <playlist [AllSections]="AllSections"
                      [CurrentCourse]="currentCourse"
                      [RootSections]="[currentSection]"></playlist>
        </ng-container>
        <ng-template #NotFound>
            <ng-container *ngIf="!currentCourse else CourseButSection">
                <not-found [title]="'Course not found'| translate"
                           [body]="'We can\'t find the course you are looking for'|translate"
                           [routerlink]="isArabic?['','ar',HomeRoutes.Courses.Home]:['',HomeRoutes.Courses.Home]"
                           [buttonText]="'Back to courses'| translate"></not-found>
            </ng-container>
            <ng-template #CourseButSection>
                <not-found [title]="'Section not found'| translate"
                           [body]="'The section you are looking for does not exist in this course'|translate"
                           [routerlink]="isArabic?['','ar',HomeRoutes.Courses.Home,currentCourse?.slug!]:
                                ['',HomeRoutes.Courses.Home,currentCourse?.slug!]"
                           [buttonText]="'Back to course'| translate"></not-found>
            </ng-template>
        </ng-template>
    </ng-template>
</ng-template>