<div class="d-flex flex-row flex-wrap align-items-start align-content-center justify-content-center">
    <nav aria-label="Pagination">
        <ul class="pagination">
            <li [class]="currentPageNo-1<=0 || DataForPages.length<=0?'page-item disabled':'page-item'">
                <button class="page-link border-0"
                        [disabled]="currentPageNo-1<=0 || DataForPages.length<=0"
                        (click)="PreviousPage()"><i class="bi bi-caret-left-fill"></i></button>
            </li>
            <li [class]="currentPageNo===p?'page-item active mat-elevation-z2':'page-item'"
                *ngFor="let p of Pages.keys()">
                <button [class]="currentPageNo===p?'page-link border-0 mat-elevation-z9 rounded-2':'page-link border-0'"
                        (click)="ChangePage(p)">{{p+1}}</button>
            </li>


            <li [class]="currentPageNo+1===Pages.size || DataForPages.length<=0?'page-item disabled':'page-item'">
                <button class="page-link border-0"
                        [disabled]="currentPageNo+1===Pages.size || DataForPages.length<=0"
                        (click)="NextPage()"><i class="bi bi-caret-right-fill"></i></button>
            </li>
        </ul>
    </nav>
    <div class="d-flex flex-row align-items-center ps-1">
        <span class="pe-1">Show </span>
        <select class="form-select "
                [disabled]="DataForPages.length<=0"
                #selectPageSize
                (change)="ChangePageSize(selectPageSize.value)"
                style="width: 70px;"
                aria-label="Default select example">
            <option [value]="elNo"
                    *ngFor="let elNo of allowedElementsPerPage">{{elNo}}</option>
        </select>
        <span class="ps-1"> entries</span>
    </div>
    <div class="d-flex flex-row align-items-center ps-1">
        <div class="input-group has-validation">
            <span class="input-group-text"
                  id="inputGroupPrepend3">Go to page</span>
            <input type="text"
                   style="width: 70px;"
                   [disabled]="DataForPages.length<=0"
                   [class]="notFoundPageNumber?'form-control is-invalid':'form-control'"
                   #GoTo
                   (input)="ChangePageFromInput(GoTo.value)">
            <div *ngIf="notFoundPageNumber"
                 class="invalid-feedback">
                Not found page.
            </div>
        </div>
    </div>
</div>