<mat-sidenav-container [hasBackdrop]="hasBackDrop"
                       class="vh-100">
    <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Half Closed ----------------------------
     ------------------------------------------------------------------------------------->
    <mat-sidenav [mode]="SideNav_mode"
                 [opened]="SideNav_openingStatus"
                 #SideNav
                 (mouseover)="OnMouseOver()"
                 (mouseleave)="OnMouseLeave()"
                 [ngClass]="ToggleClass+ ' ' +'menuSideNav'+' dark-bg'"
                 fxLayout="column">
        <mat-nav-list fxLayout="row"
                      [class]="!pinned?'justify-content-center':''"
                      fxLayoutAlign="space-between center">
            <a [class]="Display"
               fxFlex="1 2 90%"
               [routerLink]="['','app']">KH-ERP</a>
            <button fxLayout="column"
                    fxLayoutAlign="center center"
                    matTooltip="Close Sidebar"
                    matTooltipPosition="right"
                    mat-icon-button
                    (click)="PinSideNav()"
                    [class]="pinned?'':'Openned-pin'"
                    #pinButton>
                <mat-icon>
                    push_pin
                </mat-icon>
            </button>
        </mat-nav-list>
        <!-- ------------------------------------------------------------------------------------
    ----------------------------- Menus of the sidebar -------------------------------------
    ------------------------------------------------------------------------------------- -->
        <div *ngIf="!pinned"
             class="d-flex flex-column justify-content-center">
            <ng-container *ngFor="let item of SideNavItems; let i = index">
                <button mat-button
                        placement="top"
                        ngbTooltip="Tooltip on top"
                        style="min-width: 0;"
                        [matMenuTriggerFor]="submenu"
                        class="p-0">
                    <mat-icon><span class="material-icons">
                            {{item.GoogleIconName}}
                        </span></mat-icon>
                </button>
                <mat-menu #submenu="matMenu">
                    <a mat-menu-item
                       *ngFor="let link of item.links"
                       [routerLink]="['','dashboard',link.link]">{{link.LinkText}}</a>

                </mat-menu>
            </ng-container>

        </div>
        <mat-accordion *ngIf="pinned">
            <mat-expansion-panel hideToggle
                                 class="border-bottom-forDark"
                                 *ngFor="let item of SideNavItems; let i = index"
                                 [expanded]="item.expanded">
                <mat-expansion-panel-header (click)="OpenExpAndCloseAll(i)"
                                            class="justify-content-center px-0"
                                            [ngClass]="{'expansionIsExpanded': item.expanded}">
                    <mat-panel-title [class]="Display==='d-none'?'justify-content-center m-0':'ps-3'">
                        <mat-icon *ngIf="item.GoogleIconName"><span class="material-icons">
                                {{item.GoogleIconName}}
                            </span></mat-icon>
                        <mat-icon class="mat-18"
                                  *ngIf="item.faIcon">
                            <fa-icon [icon]="item.faIcon"></fa-icon>
                        </mat-icon>
                        <span *ngIf="Display!=='d-none'"
                              class="ps-2">{{item.title}}</span>
                    </mat-panel-title>


                    <mat-icon *ngIf="Display!=='d-none'">add</mat-icon>
                </mat-expansion-panel-header>
                <!-- Fill the sideNav Items  -->
                <a *ngFor="let link of item.links let x = index"
                   [routerLink]="['','dashboard',link.link]"
                   [ngClass]="{expansionIsExpanded:link.state}">{{link.LinkText}}</a>


            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Content -----------------------------------------
     ------------------------------------------------------------------------------------->
    <mat-sidenav-content #SideNavContent
                         [class]="SideNav_Content_class + ' ' + 'sideNavContent'">

        <!-- Toolbar -->
        <mat-toolbar class="mat-elevation-z3"
                     fxLayout="row"
                     fxLayoutAlign="space-between center">
            <!-- First Div -->

            <div fxLayoutAlign="center center">
                <button mat-icon-button
                        #SideNavToggleButtonOnSmallScreen>
                    <mat-icon class="mat-18"
                              (click)="SideNav.toggle()">menu</mat-icon>
                </button>
                <button mat-raised-button
                        [matMenuTriggerFor]="animals">Add</button>
                <mat-menu #animals="matMenu">
                    <button mat-menu-item>Vertebrates</button>
                    <button mat-menu-item>Invertebrates</button>
                </mat-menu>
            </div>
            <!-- second Div -->
            <div fxLayoutAlign="center center"
                 fxLayoutGap="3px">
                <button mat-icon-button
                        (click)="ToggleFullscreen()"
                        [tooltip]="FullscreenEnabled?'Exit fullscreen mode':'Fullscreen mode'"
                        #FullscreenButton>
                    <mat-icon><span class="material-icons-outlined">
                            {{FullscreenEnabled?'fullscreen_exit':'fullscreen'}}
                        </span></mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon><span class="material-icons-outlined">
                            notifications_active
                        </span></mat-icon>
                </button>

                <button mat-icon-button><img class="mat-elevation-z5"
                         class="userIconImage"
                         src="../../../../../assets/user.jpg"
                         width="32"
                         height="32" />
                </button>
            </div>
        </mat-toolbar>
        <div class="py-1 ps-1">
            <xng-breadcrumb></xng-breadcrumb>
            <ngx-spinner name="general"></ngx-spinner>
            <router-outlet #DashBoardOutlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>