<mat-card class="d-flex flex-column align-items-center p-0">
    <a class="btn btn-link position-absolute top-0 end-0 text-light"
       (click)="dialogHandler.CloseDialog();">
        <mat-icon class="mat-18">close</mat-icon>
    </a>
    <div class="bg-primary w-100 text-center text-white rounded-top">
        <p class="py-3 h5 ">Forget Password</p>
    </div>
    <!-- <mat-card-subtitle>Sign in to our store</mat-card-subtitle> -->

    <form [formGroup]="ForgetPassworForm"
          (ngSubmit)="ForgetPassworForm.valid">
        <div class="form-container calibri-font p-3">
            <div class="alert alert-danger"
                 *ngIf="(ValidationErrors|async)?.length!>0">
                <p><strong>{{Constants.FormValidationErrors.PleaseCorrectErrors}}</strong></p>
                <ul>
                    <li *ngFor="let error of (ValidationErrors|async)">
                        <strong>{{error.key}}</strong> : {{error.message}}
                    </li>
                </ul>
            </div>
            <!-- ----------------------------------------------------------------------------------
            ||                                 Email                                             ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="Constants.defaultFormAppearance"
                            class="w-100">
                <mat-label><span>{{Constants.FormFieldsNames.Email}}</span></mat-label>
                <input matInput
                       [type]="Constants.InputFieldTypes.email"
                       value=""
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="Constants.FormControlNames.email" />
                <mat-icon matSuffix>email</mat-icon>

                <mat-error
                           *ngIf="ForgetPassworForm.get(Constants.FormControlNames.email)?.hasError(Constants.FormValidationErrorsNames.pattern)">
                    {{Constants.FormValidationErrors.EnterValidEmail}}
                </mat-error>
                <mat-error
                           *ngIf="
                           ForgetPassworForm.get(Constants.FormControlNames.email)?.hasError(Constants.FormValidationErrorsNames.required)">
                    {{Constants.FormValidationErrors.EnterValidEmail}}
                </mat-error>
            </mat-form-field>

            <!------------------------Mat-Dialog-actions--------------------------->
            <div>
                <button mat-raised-button
                        color="primary"
                        dir="ltr"
                        [disabled]="ForgetPassworForm.invalid || (ForgetPassworForm.valid && (loading|async))"
                        class="w-100 mt-3"
                        aria-label="press to login"
                        (click)="OnSubmit()">
                    <mat-icon *ngIf="(loading|async)">
                        <mat-spinner diameter="20"
                                     color="warn"></mat-spinner>
                    </mat-icon>
                    {{(ForgetPassworForm.valid || ForgetPassworForm.invalid) &&
                    !(loading|async)?Constants.FormConstants.Send:''}}
                </button>
            </div>
            <!--End Mat-Dialog-actions-->
        </div>
    </form>
</mat-card>