<app-home-nav-menu></app-home-nav-menu>
<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <mat-card class="d-flex flex-column align-items-center p-0">
        <div class="bg-primary w-100 text-center text-white rounded-top">
            <p class="py-3 h5 ">Reset password</p>
        </div>
        <!-- <mat-card-subtitle>Sign in to our store</mat-card-subtitle> -->

        <form [formGroup]="Form"
              (ngSubmit)="Form.valid">
            <div class="form-container calibri-font p-3">
                <div class="alert alert-danger"
                     *ngIf="(ValidationErrors|async)?.length!>0">
                    <p><strong>{{Constants.FormValidationErrors.PleaseCorrectErrors}}</strong></p>
                    <ul>
                        <li *ngFor="let error of (ValidationErrors|async)">
                            <strong>{{error.key}}</strong> : {{error.message}}
                        </li>
                    </ul>
                </div>

                <!-- ----------------------------------------------------------------------------------
                ||                                Password                                            ||  
                --------------------------------------------------------------------------------------->
                <mat-form-field [appearance]="Constants.defaultFormAppearance"
                                class="w-100">
                    <mat-label><span>{{Constants.FormFieldsNames.authForm.Passowrd}}</span></mat-label>
                    <input matInput
                           #password
                           [tooltip]="PasswordValidations"
                           tooltipPlacement="right"
                           [tooltipIsOpen]="Form.get(Constants.FormControlNames.authForm.password)?.errors&&password.value?true:false"
                           tooltipTrigger="focus"
                           [type]="Constants.InputFieldTypes.password"
                           value=""
                           [errorStateMatcher]="customErrorStateMatcher"
                           [formControlName]="Constants.FormControlNames.authForm.password" />
                    <mat-icon matSuffix
                              (click)="password.type===Constants.InputFieldTypes.password?
                              password.type=Constants.InputFieldTypes.text:password.type===Constants.InputFieldTypes.text?
                              password.type=Constants.InputFieldTypes.password:''">
                        <span class="material-icons">
                            {{password.type===Constants.InputFieldTypes.password?'visibility':'visibility_off'}}
                        </span>
                    </mat-icon>

                    <mat-error
                               *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.hasError(Constants.FormValidationErrorsNames.required)">
                        {{Constants.FormValidationErrors.RequiredField}}
                    </mat-error>
                    <ng-template #PasswordValidations>
                        <ul class="text-start"
                            *ngIf="!Form.get(Constants.FormControlNames.authForm.password)?.value">
                            <li>
                                {{Constants.FormValidationErrors.Password.minLength}}
                            </li>
                            <li>
                                {{Constants.FormValidationErrors.Password.hasCapitalCase}}
                            </li>
                            <li>
                                {{Constants.FormValidationErrors.Password.hasNumber}}
                            </li>
                            <li>
                                {{Constants.FormValidationErrors.Password.hasSmallCase}}
                            </li>
                            <li>
                                {{Constants.FormValidationErrors.Password.hasSpecialCharacters}}
                            </li>
                        </ul>
                        <ul class="text-start"
                            *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.value">
                            <li *ngIf="
                            Form.get(Constants.FormControlNames.authForm.password)?.
                                 hasError(Constants.FormValidationErrorsNames.password.minLength)">
                                {{Constants.FormValidationErrors.Password.minLength}}
                            </li>
                            <li *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.
                            hasError(Constants.FormValidationErrorsNames.password.hasCapitalCase)">
                                {{Constants.FormValidationErrors.Password.hasCapitalCase}}
                            </li>
                            <li *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.
                            hasError(Constants.FormValidationErrorsNames.password.hasNumber)">
                                {{Constants.FormValidationErrors.Password.hasNumber}}
                            </li>
                            <li *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.
                            hasError(Constants.FormValidationErrorsNames.password.hasSmallCase)">
                                {{Constants.FormValidationErrors.Password.hasSmallCase}}
                            </li>
                            <li *ngIf="Form.get(Constants.FormControlNames.authForm.password)?.
                            hasError(Constants.FormValidationErrorsNames.password.hasSpecialCharacters)">
                                {{Constants.FormValidationErrors.Password.hasSpecialCharacters}}
                            </li>
                        </ul>
                    </ng-template>
                </mat-form-field>
                <!-- ----------------------------------------------------------------------------------
            ||                                Confirm Password                                    ||  
            --------------------------------------------------------------------------------------->
                <mat-form-field [appearance]="Constants.defaultFormAppearance"
                                class="w-100">
                    <mat-label><span>{{Constants.FormFieldsNames.authForm.ConfirmPassword}}</span></mat-label>
                    <input matInput
                           #ConfirmPassword
                           [type]="Constants.InputFieldTypes.password"
                           value=""
                           [errorStateMatcher]="customErrorStateMatcher"
                           [formControlName]="Constants.FormControlNames.authForm.confirmpassword" />
                    <mat-icon matSuffix
                              (click)="ConfirmPassword.type===Constants.InputFieldTypes.password?
          ConfirmPassword.type=Constants.InputFieldTypes.text:ConfirmPassword.type===Constants.InputFieldTypes.text?
          ConfirmPassword.type=Constants.InputFieldTypes.password:''">
                        <span class="material-icons cursor-pointer">
                            {{ConfirmPassword.type===Constants.InputFieldTypes.password?'visibility':'visibility_off'}}
                        </span>
                    </mat-icon>
                    <mat-error
                               *ngIf="Form.get(Constants.FormControlNames.authForm.confirmpassword)?.hasError(Constants.FormValidationErrorsNames.required)">
                        {{Constants.FormValidationErrors.RequiredField}}
                    </mat-error>
                    <mat-error
                               *ngIf="Form.get(Constants.FormControlNames.authForm.confirmpassword)?.hasError(Constants.FormValidationErrorsNames.password.NoPassswordMatch)">
                        {{Constants.FormValidationErrors.Password.NoPassswordMatch}}
                    </mat-error>
                </mat-form-field>
                <!------------------------Mat-Dialog-actions--------------------------->
                <div>
                    <button mat-raised-button
                            color="primary"
                            dir="ltr"
                            [disabled]="Form.invalid || (Form.valid && (loading|async))"
                            class="w-100 mt-3"
                            aria-label="press to login"
                            (click)="OnSubmit()">
                        <mat-icon *ngIf="(loading|async)">
                            <mat-spinner diameter="20"
                                         color="warn"></mat-spinner>
                        </mat-icon>
                        {{(Form.valid || Form.invalid) && !(loading|async)?Constants.FormConstants.ResetPassword:''}}
                    </button>
                </div>
                <!--End Mat-Dialog-actions-->
            </div>

        </form>
    </mat-card>
</div>