<main class="mt-5 bg-white mat-elevation-z3 rounded-2">
    <cb-table [tableTagClass]="['table', 'table-stripped', 'table-hover']"
              [ColumnDefs]="colDefs"
              [dataSource]="posts$|async"
              (AddButtonClicked)="AddNewPost($event)"
              (EditButtonClicked)="EditPost($event)"
              [CustomMenuButton]="ChangeStatusMenu"
              (DeleteButtonClicked)="DeletePost($event)"
              (row_Db_Click)="EditPost($event)"
              [isLoading]="isLoading"
              (rowClick)="SelectPost($event)"
              [resetSelectedRow]="resetSelectedRow">
    </cb-table>
    <ng-template #ChangeStatusMenu>
        <a class="cursor-pointer"
           (click)="ChangeStatus(1)"
           *ngIf="SelectedPost &&SelectedPost.title!=='' &&SelectedPost?.status===0">Set as published</a>
        <a class="cursor-pointer"
           (click)="ChangeStatus(0)"
           *ngIf="SelectedPost && SelectedPost.title!=='' &&SelectedPost?.status===1">Set as draft</a>
    </ng-template>
</main>