<div style="height: 100px;"
     class="bg-light sticky-top mat-elevation-z2 p-1 d-flex flex-column">
      <div class="d-flex flex-row w-100">
            <select (change)="fontSize()"
                    class="form-select form-select-sm"
                    aria-label=".form-select-sm example">
                  <option selected>Font size</option>
                  <option value="8">8px</option>
                  <option value="10">10px</option>
                  <option value="12">12px</option>
                  <option value="16">16px</option>
                  <option value="20">20px</option>
                  <option value="24">24px</option>
                  <option value="28">28px</option>
            </select>
            <div class="btn-group"
                 role="group"
                 aria-label="format text">
                  <button type="button"
                          class="btn btn-outline-secondary p-1"
                          (click)="bold()">
                        <i-bs [name]="BootstrapIcons.TypeBold"
                              width="20"
                              height="20">
                        </i-bs>
                  </button>
                  <button type="button"
                          class="btn btn-outline-secondary p-1"
                          (click)="italic()">
                        <i-bs [name]="BootstrapIcons.TypeItalic"
                              width="20"
                              height="20">
                        </i-bs>
                  </button>
                  <button type="button"
                          class="btn btn-outline-secondary p-1"
                          (click)="underline()">
                        <i-bs [name]="BootstrapIcons.TypeUnderline"
                              width="20"
                              height="20">
                        </i-bs>
                  </button>
            </div>
      </div>

</div>