<section class=" mh-30rem h-100 coding-bible-card"
         #playlistContainer>
    <div class="row playlistContainer h-100">
        <div class="col-md-4 playlist p-0">
            <div class="accordion accordion-flush"
                 id="sectionAccordion">
                <div class="accordion-item"
                     [dir]="s.isArabic?'rtl':'ltr'"
                     *ngFor="let s of RootSections">
                    <ng-container *ngIf="s.isLeafSection else notLeafSection">
                        <section-child-home [Section]="s"
                                            [CurrentCourse]="CurrentCourse">
                        </section-child-home>
                    </ng-container>
                    <ng-template #notLeafSection>
                        <h2 class="accordion-header noBefore">
                            <button class="accordion-button collapsed p-2 d-flex gap-3"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    [attr.data-section-active]="s.nameSlugFragment"
                                    [attr.data-bs-target]="'#'+s.nameSlugFragment"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                <span class="flex-grow-1 d-flex flex-row justify-content-between align-items-center">
                                    <span>{{s.name}}</span>
                                    <a [routerLink]="(isArabic$|async)?
                                    ['','ar',HomeRoutes.Courses.Home, CurrentCourse?.slug, HomeRoutes.Courses.Section, s.slug]:
                                    ['',HomeRoutes.Courses.Home, CurrentCourse?.slug, HomeRoutes.Courses.Section, s.slug]"
                                       class="badge btn-orange moreTag">{{'More'| translate}}</a>
                                </span>
                            </button>
                        </h2>
                        <div [id]="s.nameSlugFragment"
                             class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingOne"
                             data-bs-parent="#sectionAccordion">
                            <div class="accordion-body p-0 d-flex flex-column gap-2">
                                <section-child-home *ngFor="let ch of getChildren(s)"
                                                    [Section]="ch"
                                                    [CurrentCourse]="CurrentCourse">
                                </section-child-home>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-3">
            <div *ngIf="currentLesson else noCurrentLesson">
                <h2 class="d-flex h4">
                    {{currentLesson.name}}
                </h2>
                <youtube-container *ngIf="currentLesson?.vedioUrl && currentLesson?.vedioUrl?.split('watch?v=')![1]"
                                   [videoId]="currentLesson.vedioUrl.split('watch?v=')![1]">
                </youtube-container>

                <img src="../../../../assets/img/horizontal.webp"
                     class="noShadow img-fluid"
                     alt="">
                <div class="d-flex flex-row justify-content-center py-3 gap-5">
                    <button class="btn noShadow"
                            [disabled]="currentLessonIndex<=0"
                            name="previous"
                            (click)="NextOrPrevious(-1)">
                        <i
                           [class]="(isArabic$|async)?'bi bi-arrow-right-circle-fill fs-4':'bi bi-arrow-left-circle-fill fs-4'"></i>
                    </button>
                    <button class="btn noShadow"
                            name="next"
                            [disabled]="currentLessonIndex>=AllLessons.length-1"
                            (click)="NextOrPrevious(1)">
                        <i
                           [class]="(isArabic$|async)?'bi bi-arrow-left-circle-fill fs-4':'bi bi-arrow-right-circle-fill fs-4'"></i>
                    </button>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    <span class="small-info small"><i class="bi bi-calendar"></i>
                        {{'Last modifed'| translate}} : {{currentLesson.lastModified
                        |date}}</span>
                    <button class="btn btn-orange"
                            [routerLink]="(isArabic$|async)?
                    ['','ar',HomeRoutes.Courses.Home, CurrentCourse?.slug, HomeRoutes.Courses.Lesson, currentLesson.slug]:
                    ['',HomeRoutes.Courses.Home, CurrentCourse?.slug, HomeRoutes.Courses.Lesson, currentLesson.slug]">
                        {{'Read More'| translate}}
                    </button>
                </div>
            </div>
            <ng-template #noCurrentLesson>
                <div class="d-flex flex-row justify-content-center align-items-center h-100">
                    <span class="text-organge fs-4 fw-bold">{{'selectLesson'|translate}}</span>
                </div>
            </ng-template>
        </div>
    </div>
</section>