<main [dir]="(isArabic|async)? 'rtl':'ltr'"
      class="container-fluid body">
    <div class="row py-3 px-md-5">
        <div [class]="ShowSidebar?'col-md-9 col-12 d-flex flex-column gap-4':'col-12 d-flex flex-column gap-4'">
            <div class="coding-bible-card">
                <xng-breadcrumb></xng-breadcrumb>
            </div>
            <article class="d-flex flex-column gap-4">
                <ng-template *ngTemplateOutlet="Body"></ng-template>
            </article>
        </div>
        <aside *ngIf="ShowSidebar"
               class="col-md-3 col-12 d-flex flex-column gap-4 mt-3 mt-md-0">
            <div class="coding-bible-card">
                <div class="input-group">
                    <input type="text"
                           class="form-control bg-light"
                           aria-label="Search"
                           placeholder="Search"
                           aria-describedby="searchbox">
                    <span class="input-group-text"
                          id="searchbox"><i class="bi bi-search"></i></span>
                </div>
            </div>
            <ng2-adsense class="coding-bible-card"
                         [adClient]="'ca-pub-6664419901582400'"
                         [adSlot]="'9114660157'"
                         [adFormat]="'auto'"
                         [fullWidthResponsive]="true"
                         [display]="'block'"></ng2-adsense>

        </aside>
    </div>
</main>
<app-footer></app-footer>