<div class="d-flex flex-md-row flex-column justify-content-between align-items-center">
    <h1 class="my-3">
        <span *ngIf="Action === ActionType.Add">Add new course</span>
        <span *ngIf="Action === ActionType.Edit">Edit course</span> (
        <span *ngIf="CourseForm.get(FormControlNames.courseForm.isArabic)?.value">Ar</span>
        <span *ngIf="!CourseForm.get(FormControlNames.courseForm.isArabic)?.value">En</span>
        )
    </h1>
    <div class="d-flex flex-row gap-3">
        <a class="cursor-pointer"
           *ngIf="Action === ActionType.Edit"
           [routerLink]="['',DashboardRoutes.Home,DashboardRoutes.Courses.Home,
           DashboardRoutes.Courses.Wizard]"
           [queryParams]="{action:'Add'}"
           (click)="FormReset()">Add new</a>
        <a [class]="CourseToAddOrUpdate.otherSlug?'cursor-pointer text-primary':'cursor-pointer text-primary disabledAnchor'"
           (click)="GoToTranslatedCourse()"
           *ngIf="Action===ActionType.Edit">
            <span *ngIf="CourseToAddOrUpdate.isArabic">English Course</span>
            <span *ngIf="!CourseToAddOrUpdate.isArabic">Arabic Course</span>
        </a>
        <a class="cursor-pointer"
           [routerLink]="['',DashboardRoutes.Home,DashboardRoutes.Courses.Home]">View all</a>
    </div>
</div>
<div class="d-block w-100"
     style="position:relative">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <button id="step1btn"
                (click)="ShowCurrentStep('step1');changeStepInRoute('step1')"
                class="noShadow stepperBtn p-3 btn d-flex flex-row justify-content-between align-items-center">
            <span class="d-block d-flex flex-sm-row flex-column gap-3 justify-content-between align-items-center">
                <span class="fw-bold rounded-circle bg-primary text-white d-block d-flex justify-content-center align-items-center"
                      style="width: 32px; height: 32px;">1</span>
                <span class="d-none d-sm-block fs-3">Course info</span>
                <span class="d-block d-sm-none fw-bold">Course info</span>
            </span>
        </button>
        <span class="divider"></span>
        <button id="step2btn"
                [disabled]="Action === ActionType.Add"
                (click)="ShowCurrentStep('step2');changeStepInRoute('step2')"
                class="noShadow stepperBtn p-3 btn d-flex flex-row justify-content-between align-items-center">
            <span class="d-block d-flex flex-sm-row flex-column gap-3 justify-content-between align-items-center">
                <span class="fw-bold rounded-circle bg-primary text-white d-block d-flex justify-content-center align-items-center"
                      style="width: 32px; height: 32px;">2</span>
                <span class="d-none d-sm-block fs-3">Planner</span>
                <span class="d-block d-sm-none fw-bold">Planner</span>
            </span>
            <!-- <button class="btn btn-dark"
                    (click)="ChangeStep(1,step1,'next')">Next</button> -->
        </button>
        <!-- <div class="d-flex flex-row gap-3 align-items-center mb-4">
            <span class="fw-bold rounded-circle bg-primary text-white d-block d-flex justify-content-center align-items-center"
                  style="width: 32px; height: 32px;">2</span>
            <h1>Add Lessons</h1>
        </div> -->
    </div>
    <div class="d-block w-100"
         style="position:relative; transform: translateY(-1.7px);height: 190vh;">
        <!--******************************************************************** 
        *                           Step 1: Course Info
        *********************************************************************-->
        <div id="step1"
             #step1
             class="step-container bg-white p-4">
            <form #form
                  (ngSubmit)="CourseForm.valid"
                  [formGroup]="CourseForm">
                <div class="row">
                    <div class="col-sm-8 col-12">
                        <!-- *******************************************************************
                        *                           Name
                        **********************************************************************-->
                        <div class="form-floating mb-3">
                            <input [type]="InputFieldTypes.text"
                                   required
                                   value=""
                                   [formControlName]="FormControlNames.courseForm.name"
                                   [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.name, CourseForm)?'form-control':
                                   errorState.isErrorState(FormControlNames.courseForm.name, CourseForm, form)?
                                   'form-control is-invalid':'form-control is-valid'"
                                   [placeholder]="FormFieldsNames.Course.name"
                                   id="CourseName"
                                   (input)="setIsArabic(FormControlNames.courseForm.name)">
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.name)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseForm.name, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                            </div>
                            <label for="CourseName">{{FormFieldsNames.Course.name}}<sup
                                     class="text-danger">*</sup></label>
                        </div>
                        <!-- *******************************************************************
                        *                           Title
                        **********************************************************************-->
                        <div class="form-floating mb-3">
                            <input [type]="InputFieldTypes.text"
                                   #courseTitle
                                   required
                                   minlength="60"
                                   maxlength="70"
                                   [formControlName]="FormControlNames.courseForm.title"
                                   [placeholder]="FormFieldsNames.Course.title"
                                   [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.title, CourseForm)?'form-control':
                                   errorState.isErrorState(FormControlNames.courseForm.title, CourseForm, form)?
                                   'form-control is-invalid':'form-control is-valid'"
                                   id="CourseTitle">
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.title)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseForm.title, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.title)?.hasError(FormValidationErrorsNames.minlength)
                        &&errorState.isErrorState(FormControlNames.courseForm.title, CourseForm, form)">
                                    {{FormValidationErrors.SEO_Title_Length}}
                                </span>
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.title)?.hasError(FormValidationErrorsNames.maxlength)
                        &&errorState.isErrorState(FormControlNames.courseForm.title, CourseForm, form)">
                                    {{FormValidationErrors.SEO_Title_Length}}
                                </span>
                            </div>
                            <label for="CourseTitle">{{FormFieldsNames.Course.title}}<sup class="text-danger">*</sup>
                                <sup class="text-primary">(you
                                    entered: {{courseTitle.value.length}})</sup></label>
                        </div> <!-- end of title tag -->
                        <div class="row">
                            <!-- *******************************************************************
                            *                          Difficulty level
                            **********************************************************************-->
                            <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3 ">
                                    <select required
                                            [id]="FormControlNames.courseForm.difficultyLevel"
                                            [class]="errorState.isErrorState(FormControlNames.courseForm.difficultyLevel, CourseForm, form)?
                                   'form-select is-invalid':'form-select is-valid'"
                                            [formControlName]="FormControlNames.courseForm.difficultyLevel"
                                            aria-label="Select  Difficulty level">
                                        <option disabled>Select difficuly level</option>
                                        <option value="0">Beginner</option>
                                        <option value="1">Intermediate</option>
                                        <option value="2">Advanced</option>
                                        <option value="3">Expert</option>
                                        <option value="4">All Levels</option>
                                    </select>
                                    <div class="validationDiv">
                                        <span class="invalid-feedback d-block m-0"
                                              *ngIf="CourseForm.get(FormControlNames.courseForm.difficultyLevel)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseForm.difficultyLevel, CourseForm, form)">
                                            {{FormValidationErrors.RequiredField}}
                                        </span>
                                    </div>
                                    <label [for]="FormControlNames.courseForm.difficultyLevel"
                                           class="form-label">{{FormFieldsNames.Course.difficultyLevel}}
                                        <sup class="text-danger">*</sup>
                                    </label>
                                </div>
                            </div>
                            <!-- *******************************************************************
                            *                          Status
                            **********************************************************************-->
                            <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select required
                                            [id]="FormControlNames.courseForm.status"
                                            [class]="errorState.isErrorState(FormControlNames.courseForm.status, CourseForm, form)?
                                   'form-select is-invalid':'form-select is-valid'"
                                            [formControlName]="FormControlNames.courseForm.status">
                                        <option disabled>Select status</option>
                                        <option value="0">Draft</option>
                                        <option value="1">Published</option>
                                    </select>
                                    <div class="validationDiv">
                                        <span class="invalid-feedback d-block m-0"
                                              *ngIf="CourseForm.get(FormControlNames.courseForm.status)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.courseForm.status, CourseForm, form)">
                                            {{FormValidationErrors.RequiredField}}
                                        </span>
                                    </div>
                                    <label [for]="FormControlNames.courseForm.status"
                                           class="form-label">{{FormFieldsNames.Course.status}}
                                        <sup class="text-danger">*</sup>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 d-flex flex-column justify-content-center">
                                <div class="form-check d-flex flex-row align-items-center gap-2 flex-grow-1 h-100 mb-3">
                                    <input class="form-check-input "
                                           type="checkbox"
                                           [formControlName]="FormControlNames.courseForm.isArabic"
                                           id="isArabic">
                                    <label class="form-check-label fw-bold"
                                           for="isArabic"
                                           (click)="SelectTranslation()">
                                        In Arabic
                                    </label>
                                </div>
                                <div class="mb-3"></div>
                            </div>
                            <!-- --------------------------------------------------------------------------- 
                                        Other slug
                            ------------------------------------------------------------------------------->
                            <div class="col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select #OtherSlugSelect
                                            [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.otherSlug, CourseForm)?'form-select':
                                    errorState.isErrorState(FormControlNames.courseForm.otherSlug, CourseForm, form)?
                                    'form-select is-invalid':'form-select is-valid'"
                                            id="translation"
                                            (change)="clientSideSevice.setOtherSLug(OtherSlugSelect.value, CourseForm)"
                                            [formControlName]="FormControlNames.courseForm.otherSlug"
                                            aria-label="Select translated url">
                                        <option selected
                                                [value]="null">Select translation</option>
                                        <option value="0">Not yet</option>
                                        <option *ngFor="let c of selectedTranslation"
                                                [hidden]="c.otherSlug!==null && Action===ActionType.Add"
                                                [disabled]="c.otherSlug!==null"
                                                [value]="c.slug">
                                            {{c.name}}
                                        </option>
                                    </select>

                                    <div class="validationDiv">
                                        <span class="invalid-feedback d-block m-0"
                                              *ngIf="CourseForm.get(FormControlNames.courseForm.otherSlug)?.hasError(FormValidationErrorsNames.required)
                                      &&errorState.isErrorState(FormControlNames.courseForm.otherSlug, CourseForm, form)">
                                            {{FormValidationErrors.RequiredField}}
                                        </span>
                                    </div>
                                    <label for="translation"
                                           class="form-label">
                                        <span
                                              *ngIf="CourseForm.get(FormControlNames.courseForm.isArabic)?.value===true">
                                            English Translation
                                        </span>
                                        <span
                                              *ngIf="CourseForm.get(FormControlNames.courseForm.isArabic)?.value===false">
                                            Arabic Translation
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 d-flex flex-column"
                         style="padding-bottom: 1.8rem;">
                        <!-- -------------------------------------------------------------------------- 
                        |                                  Feature Image Card
                        ------------------------------------------------------------------------------->
                        <div class="card h-100">
                            <div class="card-header">
                                Feature image
                            </div>
                            <div (click)="CourseFeatureImageModal.Toggle();"
                                 class="card-body h-100 d-flex flex-column justify-content-center btn align-items-center p-0">
                                <div [class]="FeatureImageUrl===''?
                             'w-100 h-100 bg-light d-flex flex-row align-items-center justify-content-center border border-danger'
                             :'w-100 h-100 bg-light d-flex flex-row align-items-center justify-content-center'">
                                    <div *ngIf="FeatureImageUrl===''">
                                        <i class="bi bi-image"></i>
                                    </div>
                                    <img *ngIf="FeatureImageUrl!==''"
                                         [src]="BaseUrl+FeatureImageUrl"
                                         class="img-thumbnail border border-success"
                                         alt="feature image">
                                </div>
                                <div class="validationDiv my-1"
                                     *ngIf="FeatureImageUrl===''">
                                    <span class="invalid-feedback d-block m-0">
                                        Choose the feature image
                                    </span>
                                </div>
                            </div>
                            <div class="card-footer py-1">
                                <a *ngIf="FeatureImageUrl!==''"
                                   class="text-danger text-decoration-none cursor-pointer small"
                                   (click)="removeFeatureImage()">Remove feature image</a>
                                <a *ngIf="FeatureImageUrl===''"
                                   class="text-secondary text-decoration-none small">Remove feature image</a>
                            </div>
                        </div><!-- end feature image card -->
                    </div>
                </div>
                <div class="row mb-3"
                     style="min-height: 300px;">
                    <div class=" col-sm-8 col-12 d-flex flex-column">
                        <!-- *******************************************************************
                        *                           Introductory video url
                        **********************************************************************-->
                        <div class="form-floating mb-2">
                            <input [type]="InputFieldTypes.text"
                                   #YoutubeUrl
                                   (input)="GetVideo(YoutubeUrl.value)"
                                   [formControlName]="FormControlNames.courseForm.introductoryVideoUrl"
                                   [placeholder]="FormFieldsNames.Course.introductoryVideoUrl"
                                   [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.introductoryVideoUrl, CourseForm)?'form-control':
                           errorState.isErrorState(FormControlNames.courseForm.introductoryVideoUrl, CourseForm, form)?
                           'form-control is-invalid':'form-control is-valid'"
                                   [id]="FormControlNames.courseForm.introductoryVideoUrl">
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.introductoryVideoUrl)?.hasError(FormValidationErrorsNames.pattern)
                &&errorState.isErrorState(FormControlNames.courseForm.introductoryVideoUrl, CourseForm, form)">
                                    {{FormValidationErrors.youtubeUrl}}
                                </span>
                            </div>
                            <label [for]="FormControlNames.courseForm.introductoryVideoUrl">
                                {{FormFieldsNames.Course.introductoryVideoUrl}}
                            </label>

                        </div> <!-- Introductor video url -->
                        <div
                             class="d-flex align-items-center justify-content-center bg-light border border-1 flex-grow-1">
                            <i class="bi bi-youtube fs-3"
                               *ngIf="VedioID===''"></i>
                            <div *ngIf="VedioID!==''"
                                 class="youtube-container align-center d-flex align-items-center justify-content-center"
                                 style="width:100%;">
                                <iframe [src]="'https://www.youtube.com/embed/'  + VedioID |safeUrl"
                                        title="YouTube video player"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; 
                                encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- -------------------------------------------------------------------------- 
                    |                                  Category Card
                    ------------------------------------------------------------------------------->
                    <div class="col-sm-4 col-12">
                        <div class="card h-100 d-flex flex-column">
                            <div class="card-header">
                                Choose categories
                            </div>
                            <div class="card-body flex-grow-1">
                                <div
                                     [class]="CourseForm.get(FormControlNames.courseForm.categories)?.valid?'w-100 border border-2 rounded-1 border-success h-100 overflow-auto p-2':'w-100 border border-2 border-danger rounded-1 h-100 overflow-auto p-2'">
                                    <div class="form-check SelectCheckBoxes p-0 "
                                         *ngFor="let cat of CourseCategorysArranged">
                                        <div [class]="cat.isArabic?'d-flex flex-row-reverse': 'd-flex flex-row'">
                                            <input type="checkbox"
                                                   class="form-check-input"
                                                   [ngStyle]="{'margin-left':cat.level*10+'px'}"
                                                   [id]="cat.id"
                                                   (click)="selectCategory(cat.id)"
                                                   [value]="cat.id"
                                                   [checked]="selectedCategories.includes(cat.id)" />
                                            <label class="form-check-label ms-1"
                                                   [ngClass]="{'pe-1':cat.isArabic,'ps-1':!cat.isArabic}"
                                                   [for]="cat.id">
                                                {{cat.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="validationDiv">
                                    <span class="invalid-feedback d-block m-0"
                                          *ngIf="CourseForm.get(FormControlNames.postForm.categories)?.hasError(FormValidationErrorsNames.required)">
                                        {{FormValidationErrors.RequiredField}}
                                    </span>
                                </div>
                            </div><!-- end card body -->
                            <div class="card-footer d-flex justify-content-end">
                                <a class="cursor-pointer"
                                   (click)="CourseCategoryHandler.Toggle()">Add new</a>
                            </div>
                        </div><!-- end category card -->
                    </div>
                </div>
                <div class="row">
                    <!-- *******************************************************************
                    *                           Description
                    **********************************************************************-->
                    <div class="col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <textarea required
                                      #courseDescription
                                      class="textArea-no-resize"
                                      rows="5"
                                      minlength="50"
                                      maxlength="160"
                                      [formControlName]="FormControlNames.courseForm.description"
                                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.description, CourseForm)?'form-control':
                                           errorState.isErrorState(FormControlNames.courseForm.description, CourseForm, form)?
                                           'form-control is-invalid':'form-control is-valid'"
                                      [id]="FormControlNames.courseForm.description"
                                      [placeholder]="FormFieldsNames.Course.description">
                              </textarea>
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.description)?.hasError(FormValidationErrorsNames.required)
                                      &&errorState.isErrorState(FormControlNames.courseForm.description, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.description)?.hasError(FormValidationErrorsNames.minlength)
                                      &&errorState.isErrorState(FormControlNames.courseForm.description, CourseForm, form)">
                                    {{FormValidationErrors.SEO_Description_Length}}
                                </span>
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.description)?.hasError(FormValidationErrorsNames.maxlength)
                                      &&errorState.isErrorState(FormControlNames.courseForm.description, CourseForm, form)">
                                    {{FormValidationErrors.SEO_Description_Length}}
                                </span>
                            </div>
                            <label
                                   [for]="FormControlNames.courseForm.description">{{FormFieldsNames.Course.description}}
                                <sup class="text-danger">*</sup>
                                <sup class="text-primary counter">(you
                                    entered: {{courseDescription.value.length}})</sup></label>
                        </div>
                    </div>
                    <!-- *******************************************************************
                    *                           What will you learn
                    **********************************************************************-->
                    <div class="col-sm-6 col-12">
                        <div class="form-floating mb-3 ">
                            <textarea required
                                      class="textArea-no-resize"
                                      rows="5"
                                      [formControlName]="FormControlNames.courseForm.whatWillYouLearn"
                                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.whatWillYouLearn, CourseForm)?'form-control':
                              errorState.isErrorState(FormControlNames.courseForm.whatWillYouLearn, CourseForm, form)?
                              'form-control is-invalid':'form-control is-valid'"
                                      [id]="FormControlNames.courseForm.whatWillYouLearn"
                                      [placeholder]="FormFieldsNames.Course.whatWillYouLearn">
                 </textarea>
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.whatWillYouLearn)?.hasError(FormValidationErrorsNames.required)
                         &&errorState.isErrorState(FormControlNames.courseForm.whatWillYouLearn, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                            </div>
                            <label
                                   [for]="FormControlNames.courseForm.whatWillYouLearn">{{FormFieldsNames.Course.whatWillYouLearn}}<sup
                                     class="text-danger">*</sup>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!-- *******************************************************************
                     *                           Target audience
                     **********************************************************************-->
                    <div class="col-sm-6 col-12">
                        <div class="form-floating mb-3">
                            <textarea required
                                      class="textArea-no-resize"
                                      rows="5"
                                      [formControlName]="FormControlNames.courseForm.targetAudience"
                                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.targetAudience, CourseForm)?'form-control':
                              errorState.isErrorState(FormControlNames.courseForm.targetAudience, CourseForm, form)?
                              'form-control is-invalid':'form-control is-valid'"
                                      [id]="FormControlNames.courseForm.targetAudience"
                                      [placeholder]="FormFieldsNames.Course.targetAudience">
                 </textarea>
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.targetAudience)?.hasError(FormValidationErrorsNames.required)
                         &&errorState.isErrorState(FormControlNames.courseForm.targetAudience, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                            </div>
                            <label
                                   [for]="FormControlNames.courseForm.targetAudience">{{FormFieldsNames.Course.targetAudience}}<sup
                                     class="text-danger">*</sup>
                            </label>
                        </div>
                    </div>

                    <!-- *******************************************************************
            *                          Course Features
            **********************************************************************-->
                    <div class="col-sm-6 col-12">
                        <div class="form-floating mb-3 ">
                            <textarea class="textArea-no-resize"
                                      rows="5"
                                      [formControlName]="FormControlNames.courseForm.courseFeatures"
                                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.courseFeatures, CourseForm)?'form-control':
                                       errorState.isErrorState(FormControlNames.courseForm.courseFeatures, CourseForm, form)?
                                       'form-control is-invalid':'form-control is-valid'"
                                      [id]="FormControlNames.courseForm.courseFeatures"
                                      [placeholder]="FormFieldsNames.Course.courseFeatures">
                          </textarea>
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.courseFeatures)?.hasError(FormValidationErrorsNames.required)
                                  &&errorState.isErrorState(FormControlNames.courseForm.courseFeatures, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                            </div>
                            <label
                                   [for]="FormControlNames.courseForm.courseFeatures">{{FormFieldsNames.Course.courseFeatures}}<sup
                                     class="text-danger">*</sup>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- *******************************************************************
                *                          requirementsOrInstructions
                 **********************************************************************-->
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea required
                                      class="textArea-no-resize"
                                      rows="5"
                                      [formControlName]="FormControlNames.courseForm.requirementsOrInstructions"
                                      [class]="!errorState.isTouchedOrDirty(FormControlNames.courseForm.requirementsOrInstructions, CourseForm)?'form-control':
                                           errorState.isErrorState(FormControlNames.courseForm.requirementsOrInstructions, CourseForm, form)?
                                           'form-control is-invalid':'form-control is-valid'"
                                      [id]="FormControlNames.courseForm.requirementsOrInstructions"
                                      [placeholder]="FormFieldsNames.Course.requirementsOrInstructions">
                              </textarea>
                            <div class="validationDiv">
                                <span class="invalid-feedback d-block m-0"
                                      *ngIf="CourseForm.get(FormControlNames.courseForm.requirementsOrInstructions)?.hasError(FormValidationErrorsNames.required)
                                      &&errorState.isErrorState(FormControlNames.courseForm.requirementsOrInstructions, CourseForm, form)">
                                    {{FormValidationErrors.RequiredField}}
                                </span>
                            </div>
                            <label
                                   [for]="FormControlNames.courseForm.requirementsOrInstructions">{{FormFieldsNames.Course.requirementsOrInstructions}}<sup
                                     class="text-danger">*</sup>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6 col-12 d-flex align-items-center">
                    <span class="text-danger"
                          *ngIf="Action === ActionType.Add">You should add course info first to continue</span>
                </div>
                <div class="d-flex align-items-center justify-content-end gap-3 col-sm-6 col-12">
                    <button class="btn btn-primary"
                            *ngIf="Action === ActionType.Add"
                            [disabled]="CourseForm.invalid"
                            (click)="AddCourse()">Add course</button>
                    <button class="btn btn-primary"
                            *ngIf="Action === ActionType.Edit"
                            [disabled]="CourseForm.invalid"
                            (click)="UpdateCourseInfo()">Save</button>
                    <button class="btn btn-dark"
                            [disabled]="Action === ActionType.Add"
                            (click)="ChangeStep(1,step1,'next')">Next</button>
                </div>
            </div>
        </div>
        <!--******************************************************************** 
        *                           Step 2: Planner
        *********************************************************************-->
        <div id="step2"
             #step2
             class="step-container bg-white p-4">
            <div class="mb-2 d-flex flex-sm-row flex-colum gap-1">
                <div class="d-flex flex-sm-row flex-column gap-3">
                    <div class="d-flex flex-row gap-1">
                        <a (click)="SectionActionType=ActionType.Add;SectionModal.Toggle();"
                           class="btn btn-sm btn-primary">Add section</a>
                        <a (click)="SectionActionType=ActionType.Edit;sectionSelector.Toggle();"
                           class="btn btn-sm btn-primary">Edit section</a>
                    </div>
                    <div class="d-flex flex-row gap-1">
                        <a (click)="LessonActionType=ActionType.Add;LessonModal.Toggle();"
                           class="btn btn-sm btn-success">Add Lesson</a>
                    </div>
                    <div class="d-flex flex-row gap-1">
                        <a (click)="SelectedSectionsId_ForFindingLessons=0;
                        SelectedLessonId=0;LessonOrderChanged=false;this.selectedLessonOrder.disable();LessonrOrder.Toggle();"
                           class="btn btn-sm btn-info">Order Lesson</a>
                    </div>
                    <div class="d-flex flex-row gap-1">
                        <a (click)="SelectedSectionsId_ForFindingLessons=0;
                        SelectedSectionsId_For_SectionOrder=0;SectionOrderChanged=false;this.selectedSectionOrder.disable();SectionOrder.Toggle();"
                           class="btn btn-sm btn-info">Order Section</a>
                    </div>
                </div>
            </div>
            <div class="accordion mb-2"
                 id="sectionAccordion">
                <div class="accordion-item"
                     [dir]="s.isArabic?'rtl':'ltr'"
                     *ngFor="let s of RootSections">
                    <h2 class="noBefore accordion-header"
                        [id]="'heading'+s.id">
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#body'+s.id"
                                aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                            {{s.name}}
                        </button>
                    </h2>
                    <div [id]="'body'+s.id"
                         class="accordion-collapse collapse show"
                         aria-labelledby="panelsStayOpen-headingOne"
                         data-bs-parent="#sectionAccordion">
                        <div class="accordion-body p-0 d-flex flex-column gap-2">
                            <app-section-child [Section]="s"
                                               [showSectionName]="false"></app-section-child>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-3">
                <button class="btn btn-dark"
                        (click)="ChangeStep(2,step1,'back')">Back</button>
            </div>
        </div>
    </div>
</div>

<app-media #CourseFeatureImageModal
           [ModalId]="'CourseFeatureImageModal'"
           [setFeatureImageButton]="true"
           (setFeatureImage)="SetFeatureImage($event)"></app-media>
<!-- ---------------------------------------------------------------------------------------
                                    Section modal
------------------------------------------------------------------------------------------->
<section-modal #SectionModal
               [ActionType]="SectionActionType"
               [CourseId]="CourseId"
               [UpdateObject]="SectionToEdit"
               [ModalId]="'SectionModalInWizard'"></section-modal>
<course-category-handler #CourseCategoryHandler
                         [ActionType]="ActionType.Add"
                         [UpdateObject]="null"></course-category-handler>
<bootstrap-modal #sectionSelector
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="sectionSelectorHeader"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="sectionSelectorBody"
                 [ModalId]="'sectionSelector'"
                 [FullScreeen]="true"
                 FullScreenClass="modal-lg"
                 [Modal_Footer_template]="sectionSelectorFooter"></bootstrap-modal>
<ng-template #sectionSelectorHeader>
    <h4 class="Modal-title text-white-50 modalHeader mb-0">
        Choose Section to Edit</h4>
</ng-template>
<ng-template #sectionSelectorBody>
    <div class="form-floating has-validation">
        <select #selectorForSection
                required
                class="form-select"
                id="sectionSelector"
                [(ngModel)]="SelectedSectionId"
                (change)="SelectSectionToEdit(selectorForSection)"
                aria-label="Select section">
            <option value="0">No section</option>
            <option *ngFor="let sec of AllCourseSections"
                    [value]="sec.id"
                    [dir]="sec.isArabic?'rtl':'ltr'"
                    [disabled]="sec.id === SectionForm.get('id')?.value">
                <span *ngFor="let _ of [].constructor(sec.level)">&nbsp;&nbsp;</span>{{sec.name}}
            </option>
        </select>
        <label for="sectionSelector"
               class="form-label">Select Section</label>
    </div>
</ng-template>
<ng-template #sectionSelectorFooter>
    <button class="btn btn-primary"
            (click)="SectionModal.Toggle()">Edit</button>
    <button class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
</ng-template>
<!-- Lesson Modal -->
<lesson-for-planner-modal #LessonModal
                          [ModalId]="'LessonModalInPlanner'"
                          [CourseId]="CourseId"
                          [Action]="LessonActionType"
                          [UpdateObject]="LessonToUpdate">
</lesson-for-planner-modal>

<!-------------------------------------------------------- 
                        Update Lesson Order
--------------------------------------------------------->
<bootstrap-modal #LessonrOrder
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="LessonrOrderHeader"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="LessonrOrderBody"
                 [ModalId]="'LessonrOrder'"
                 [Modal_Footer_template]="LessonrOrderFooter"></bootstrap-modal>
<ng-template #LessonrOrderHeader>
    <h4 class="Modal-title text-white-50 modalHeader mb-0">
        Update Lesson Order</h4>
</ng-template>
<ng-template #LessonrOrderBody>
    <div class="form-floating has-validation mb-3">
        <select #SectionSelectorForLesson
                required
                class="form-select"
                id="SectionsForLessonOrder"
                [(ngModel)]="SelectedSectionsId_ForFindingLessons"
                (change)="SelectLessonBySection()"
                aria-label="Select section">
            <option value="0"
                    selected>No Sections</option>
            <option *ngFor="let sec of AllCourseSections"
                    [value]="sec.id"
                    [disabled]="!sec.isLeafSection">
                <span *ngFor="let _ of [].constructor(sec.level)">&nbsp;&nbsp;</span>{{sec.name}}
            </option>
        </select>
        <label for="SectionsForLessonOrder"
               class="form-label">Select Section</label>
    </div>
    <div class="form-floating has-validation mb-3">
        <select #selectorForLesson
                required
                class="form-select"
                id="LessonSelectors"
                [(ngModel)]="SelectedLessonId"
                (change)="SelectLesson()"
                aria-label="Select Lesson">
            <option value="0"
                    selected>No lesson</option>
            <option *ngFor="let l of selectedLessonsBySectionId"
                    [value]="l.id">
                {{l.name}}
            </option>
        </select>
        <label for="LessonSelectors"
               class="form-label">Select Lesson</label>
    </div>
    <div class="form-floating mb-2">
        <input type="number"
               [formControl]="selectedLessonOrder"
               min="1"
               [max]="selectedLessonsBySectionId.length"
               placeholder="Lesson Order"
               class="form-control"
               id="LessonOrderINput"
               (input)="LessonOrderChanged=true;GetNewLessonPostion()">
        <label for="LessonOrderINput">
            Lesson order
        </label>
    </div>
    <div *ngIf="SelectedLessonId>0"
         class="mb-2">
        <h5>Current position</h5>
        <div *ngIf="!PreviousLesson">First lesson</div>
        <div *ngIf="!NextLesson">Last lesson</div>
        <div *ngIf="PreviousLesson && NextLesson">
            <div>
                <span>After:</span>
                <span>{{PreviousLesson.name}}</span>
            </div>
            <div>
                <span>Before:</span>
                <span>{{NextLesson.name}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="SelectedLessonId>0&&LessonOrderChanged">
        <h5>New position</h5>
        <div *ngIf="!NewPreviousLesson">First lesson</div>
        <div *ngIf="!NewNextLesson">Last lesson</div>
        <div *ngIf="NewPreviousLesson && NewNextLesson">
            <div>
                <span>After:</span>
                <span>{{NewPreviousLesson.name}}</span>
            </div>
            <div>
                <span>Before:</span>
                <span>{{NewNextLesson.name}}</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #LessonrOrderFooter>
    <button class="btn btn-primary"
            [disabled]="!LessonOrderChanged"
            (click)="UpdateLessonOrder();LessonrOrder.Toggle()">Update</button>
    <button class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
</ng-template>
<!-------------------------------------------------------- 
                        Update Section Order
--------------------------------------------------------->
<bootstrap-modal #SectionOrder
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="SectionOrderHeader"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="SectionOrderBody"
                 [ModalId]="'SectionOrder'"
                 [Modal_Footer_template]="SectionOrderFooter"></bootstrap-modal>
<ng-template #SectionOrderHeader>
    <h4 class="Modal-title text-white-50 modalHeader mb-0">
        Update Section Order</h4>
</ng-template>
<ng-template #SectionOrderBody>
    <div class="form-floating has-validation mb-3">
        <select #SectionSelectorForSectionOrder
                required
                class="form-select"
                id="SectionSelectorForSectionOrder"
                [(ngModel)]="SelectedSectionsId_For_SectionOrder"
                (change)="SelectSectionForOrderChange()"
                aria-label="Select section">
            <option value="0"
                    selected>No Sections</option>
            <option *ngFor="let sec of AllCourseSections"
                    [value]="sec.id">
                <span *ngFor="let _ of [].constructor(sec.level)">&nbsp;&nbsp;</span>{{sec.name}}
            </option>
        </select>
        <label for="SectionSelectorForSectionOrder"
               class="form-label">Select Section</label>
    </div>
    <div class="form-floating mb-2">
        <input type="number"
               [formControl]="selectedSectionOrder"
               min="1"
               [max]="SectionSplings.length"
               placeholder="Section Order"
               class="form-control"
               id="SectionOrderInput"
               (input)="SectionOrderChanged=true;GetNewSectionPostion()">
        <label for="SectionOrderInput">
            Section order
        </label>
    </div>
    <div *ngIf="SelectedSectionsId_For_SectionOrder>0"
         class="mb-2">
        <h5>Current position</h5>
        <div *ngIf="SectionSplings.length===1">
            <div>It is the only section</div>
        </div>
        <div *ngIf="SectionSplings.length>1">
            <div *ngIf="!PreviousSection">First Section</div>
            <div *ngIf="!NextSection">Last Section</div>
        </div>
        <div *ngIf="PreviousSection && NextSection">
            <div>
                <span>After:</span>
                <span>{{PreviousSection.name}}</span>
            </div>
            <div>
                <span>Before:</span>
                <span>{{NextSection.name}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="SelectedSectionsId_For_SectionOrder>0&&SectionOrderChanged">
        <h5>New position</h5>
        <div *ngIf="!NewPreviousSection">First Section</div>
        <div *ngIf="!NewNextSection">Last Section</div>
        <div *ngIf="NewPreviousSection && NewNextSection">
            <div>
                <span>After:</span>
                <span>{{NewPreviousSection.name}}</span>
            </div>
            <div>
                <span>Before:</span>
                <span>{{NewNextSection.name}}</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #SectionOrderFooter>
    <button class="btn btn-primary"
            [disabled]="!SectionOrderChanged"
            (click)="UpdateSectionOrder();SectionOrder.Toggle()">Update</button>
    <button class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
</ng-template>