<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="AllCategories"></basic-skeleton>
<ng-template #AllCategories>
    <ng-container *ngIf="loading else notLoading">
        <header class="coding-bible-card">
            <page-title-placeholder></page-title-placeholder>
        </header>
        <section class="coding-bible-card">
            <page-title-placeholder></page-title-placeholder>
            <br>
            <page-title-placeholder></page-title-placeholder>
            <br>
            <page-title-placeholder></page-title-placeholder>
            <br>
            <page-title-placeholder></page-title-placeholder>

        </section>
    </ng-container>
    <ng-template #notLoading>
        <ng-container *ngIf="currentLesson && currentCourse else NotFound">
            <header class="coding-bible-card">
                <page-title [title]="currentLesson?.name!"
                            [description]="currentLesson?.description!"></page-title>
            </header>
            <img src="../../../../assets/img/horizontal.png"
                 class="noShadow"
                 alt="">
            <a [routerLink]=""
               [fragment]="'fsdfsdf'">sfdfsdfsd</a>
            <section class="coding-bible-card border border-2"
                     id="toc">
            </section>
            <section class="coding-bible-card htmlConent"
                     id="content"
                     *ngIf="currentLesson?.htmlContent"
                     [innerHtml]="currentLesson?.htmlContent! |bypassStyle">
            </section>
            <section class="coding-bible-card d-flex flex-row flex-wrap justify-content-between">
                <button class="btn btn-orange"
                        [disabled]="currentLessonIndex<=0"
                        (click)="NextOrPrevious(-1)">{{'Previous lesson'| translate}}</button>
                <button class="btn btn-orange"
                        [disabled]="currentLessonIndex>=ArrangedLessons.length-1"
                        (click)="NextOrPrevious(1)">{{'Next lesson'| translate}}</button>
            </section>
            <section class="coding-bible-card lessonVideo"
                     *ngIf="currentLesson?.vedioUrl">
                <h2 class="d-flex">{{'Watch the video' | translate}}</h2>
                <youtube-container *ngIf="currentLesson?.vedioUrl"
                                   [videoId]="currentLesson?.vedioUrl?.split('watch?v=')![1]">
                </youtube-container>
            </section>
        </ng-container>
        <ng-template #NotFound>
            <ng-container *ngIf="!currentCourse else CourseButLesson">
                <not-found [title]="'Course not found'| translate"
                           [body]="'We can\'t find the course you are looking for'|translate"
                           [routerlink]="isArabic?['','ar',HomeRoutes.Courses.Home]:['',HomeRoutes.Courses.Home]"
                           [buttonText]="'Back to courses'| translate"></not-found>
            </ng-container>
            <ng-template #CourseButLesson>
                <not-found [title]="'Lesson not found'| translate"
                           [body]="'The lesson you are looking for does not exist in this course'|translate"
                           [routerlink]="isArabic?['','ar',HomeRoutes.Courses.Home,currentCourse?.slug!]:
                                ['',HomeRoutes.Courses.Home,currentCourse?.slug!]"
                           [buttonText]="'Back to course'| translate"></not-found>

            </ng-template>
        </ng-template>
    </ng-template>

</ng-template>