<app-home-nav-menu [LocationName]="'courses'"></app-home-nav-menu>
<basic-skeleton [Body]="CourseContent"
                [ShowSidebar]="false"></basic-skeleton>
<ng-template #CourseContent>
    <ng-container *ngIf="loading else notLoading">
        <header class="coding-bible-card">
            <page-title-placeholder></page-title-placeholder>
        </header>
    </ng-container>
    <ng-template #notLoading>
        <ng-container *ngIf="CurrentCourse else NotFound">
            <!-- -------------------------------------------------------------------------------
            |                             Introduction to the course                           |
            ------------------------------------------------------------------------------------>
            <header class="coding-bible-card">
                <div class="d-flex flex-row flex-wrap gap-1 mb-2">
                    <span class="badge bg-primary rounded-0 catBage"
                          *ngFor="let cat of CurrentCourse.categoriesObject">
                        <a [routerLink]="(isArabic$|async)?['','ar',HomeRoutes.Courses.Home, 
                            HomeRoutes.Courses.Categories, cat.slug]:['',HomeRoutes.Courses.Home, 
                            HomeRoutes.Courses.Categories, cat.slug]">{{cat.name}}</a>
                    </span>
                </div>
                <page-title [title]="CurrentCourse.name!"
                            [description]="CurrentCourse.description!"></page-title>
            </header>
            <ng2-adsense [adClient]="'ca-pub-6664419901582400'"
                         [adSlot]="'2620855251'"
                         [adFormat]="'auto'"
                         [fullWidthResponsive]="true"
                         [display]="'block'"></ng2-adsense>
            <introductoy-video *ngIf="CurrentCourse.introductoryVideoUrl && CurrentCourse.introductoryVideoUrl?.split('watch?v=')![1]"
                               title="{{'Introduction to the course'| translate}}"
                               [videoId]="CurrentCourse.introductoryVideoUrl.split('watch?v=')![1]">
            </introductoy-video>
            <description *ngIf="CurrentCourse.description"
                         title="{{'Course description'| translate}}"
                         [description]="CurrentCourse.description">
            </description>

            <course-text-to-list *ngIf="CurrentCourse.whatWillYouLearn"
                                 [text]="CurrentCourse.whatWillYouLearn!"
                                 title="{{'What will you learn in this course?'|translate}}"></course-text-to-list>
            <course-text-to-list *ngIf="CurrentCourse.targetAudience"
                                 [text]="CurrentCourse.targetAudience!"
                                 title="{{'Target Audience'| translate}}"></course-text-to-list>
            <course-text-to-list *ngIf="CurrentCourse.requirementsOrInstructions"
                                 [text]="CurrentCourse.requirementsOrInstructions!"
                                 title="{{'Course Requirements'|translate}}"></course-text-to-list>
            <course-text-to-list *ngIf="CurrentCourse.courseFeatures"
                                 [text]="CurrentCourse.courseFeatures!"
                                 title="{{'Course Features'|translate}}"></course-text-to-list>
            <course-text-to-list *ngIf="CurrentCourse.references"
                                 [text]="CurrentCourse.references!"
                                 title="{{'References'| translate}}"></course-text-to-list>

            <playlist [AllSections]="AllSections"
                      [RootSections]="RootSections"
                      [CurrentCourse]="CurrentCourse"></playlist>
        </ng-container>
        <ng-template #NotFound>
            <not-found [title]="'Course not found'| translate"
                       [body]="'The course you are looking for does not exist'| translate"
                       [routerlink]="(isArabic$|async)?['','ar',HomeRoutes.Courses.Home]:['',HomeRoutes.Courses.Home]"
                       [buttonText]="'Back to courses'| translate"></not-found>
        </ng-template>
    </ng-template>
</ng-template>