.btn:focus, #searchBoxForUrl:focus {
    outline:none;
    box-shadow:none;
}

/* #anchorTagHandling::before{
    top: -9px;
    border-bottom-color: #e9e9e9 !important;
    border-width: 0 9px 9px;
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    content: "";
} */
ul.autocomplete li:nth-child(odd) {
    background: #f0f0f1;
}
ul.autocomplete li:hover, .activeOption{
    background-color: #0d6efd !important;
    color: #fff !important;
}