<mat-sidenav-container [hasBackdrop]="hasBackDrop"
                       class="vh-100">
    <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Half Closed ----------------------------
     ------------------------------------------------------------------------------------->
    <mat-sidenav [mode]="SideNav_mode"
                 [opened]="SideNav_openingStatus"
                 #SideNav
                 [ngClass]="ToggleClass+ ' ' +'menuSideNav'+' dark-bg'"
                 fxLayout="column">

        <!-- ------------------------------------------------------------------------------------
    ----------------------------- Menus of the sidebar -------------------------------------
    ------------------------------------------------------------------------------------- -->
        <div *ngIf="!pinned"
             class="d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center align-items-center cursor-pointer"
                 style="min-height: 50px;">
                <a [routerLink]="['','dashboard']"><img src="../../assets/logo 3.png"
                         alt="logo"
                         width="35px"
                         height="35px"></a>
            </div>
            <div *ngFor="let item of SideNavItems; let i = index"
                 fxLayout="column">
                <button mat-button
                        [tooltip]="item.title"
                        placement="right"
                        boundariesElement="window"
                        [tooltipAppendToBody]="true"
                        style="min-width: 0;"
                        #matMenuTrigger
                        [matMenuTriggerFor]="submenu"
                        class="p-0 mh-50 active">
                    <mat-icon *ngIf="item.GoogleIconName"><span class="material-icons">
                            {{item.GoogleIconName}}
                        </span></mat-icon>
                    <fa-icon *ngIf="item.faIcon"
                             [icon]="item.faIcon"></fa-icon>
                    <i-bs *ngIf="item.boostrapIcon"
                          [name]="item.boostrapIcon"
                          width="24"
                          height="24">
                    </i-bs>
                </button>
                <mat-menu #submenu="matMenu">
                    <a mat-menu-item
                       *ngFor="let link of item.links"
                       [routerLink]="link.link">{{link.LinkText}}</a>
                </mat-menu>
            </div>
        </div>
        <!-- -------------------------------------------------------------------------------
                                        Expanded sidenav
        ------------------------------------------------------------------------------------>
        <mat-accordion *ngIf="pinned">
            <div style="min-height: 50px;"
                 class="d-flex justify-content-center align-items-center">
                <a [class]="Display"
                   class="text-decoration-none fs-3 fw-bold text-center"
                   fxFlex="1 2 90%"
                   [routerLink]="['','dashboard']"><img src="../../assets/logo 3.png"
                         alt="logo"
                         width="35px"
                         height="35px"> KH-ERP</a>
            </div>

            <mat-expansion-panel hideToggle
                                 class="border-bottom-forDark d-flex flex-column"
                                 *ngFor="let item of SideNavItems; let i = index">
                <mat-expansion-panel-header (click)="OpenExpAndCloseAll(i)"
                                            class="justify-content-center px-0"
                                            [ngClass]="{'expansionIsExpanded': item.expanded}">
                    <mat-panel-title>
                        <mat-icon *ngIf="item.GoogleIconName"><span class="material-icons">
                                {{item.GoogleIconName}}
                            </span></mat-icon>
                        <fa-icon *ngIf="item.faIcon"
                                 [icon]="item.faIcon"></fa-icon>
                        <i-bs *ngIf="item.boostrapIcon"
                              [name]="item.boostrapIcon"
                              width="24"
                              height="24">
                        </i-bs>
                        <span class="ps-2 ">{{item.title}}</span>
                    </mat-panel-title>


                    <mat-icon *ngIf="Display!=='d-none'">add</mat-icon>
                </mat-expansion-panel-header>
                <!-- Fill the sideNav Items  -->
                <div class="d-flex flex-column">
                    <a *ngFor="let link of item.links; let x = index"
                       class="text-decoration-none"
                       [routerLink]="link.link">{{link.LinkText}}</a>
                </div>
            </mat-expansion-panel>

        </mat-accordion>
    </mat-sidenav>

    <!-- --------------------------------------------------------------------------------------
     ----------------------------------- Content -----------------------------------------
     ------------------------------------------------------------------------------------->
    <mat-sidenav-content #SideNavContent
                         [class]="SideNav_Content_class + ' ' + 'sideNavContent'">

        <!-- Toolbar -->
        <mat-toolbar class="mat-elevation-z3 sticky-top bg-white"
                     fxLayout="row"
                     fxLayoutAlign="space-between center">
            <!-- First Div -->
            <!-- ----------------------------------------------------
                                     Add Button
             -------------------------------------------------------->
            <div fxLayoutAlign="center center"
                 class="h-100">
                <div class="cursor-pointer border-end h-100 d-flex align-items-center justify-content-center mw-50"
                     tooltip="Close Sidebar"
                     boundariesElement="window"
                     [adaptivePosition]="true"
                     [tooltipAppendToBody]="true"
                     (click)="PinSideNav()"
                     #pinButton>
                    <mat-icon class="mat-18"><span class="material-icons-outlined">
                            menu
                        </span>
                    </mat-icon>
                </div>
                <div class="cursor-pointer border-end h-100 d-flex align-items-center justify-content-center mw-50"
                     tooltip="Add"
                     boundariesElement="window"
                     matRipple
                     [adaptivePosition]="true"
                     [tooltipAppendToBody]="true">
                    <i-bs name="plus-square-fill"
                          width="24"
                          height="24">
                    </i-bs>
                </div>
            </div>
            <!-- second Div -->
            <div fxLayoutAlign="center center"
                 class="h-100">
                <div class="cursor-pointer border-start h-100 d-flex align-items-center justify-content-center mw-50"
                     (click)="ToggleFullscreen()"
                     fxHide.xs
                     [tooltip]="FullscreenEnabled?'Exit fullscreen mode':'Fullscreen mode'"
                     boundariesElement="window"
                     matRipple
                     [adaptivePosition]="true"
                     [tooltipAppendToBody]="true"
                     #FullscreenButton>
                    <mat-icon><span class="material-icons-outlined">
                            {{FullscreenEnabled?'fullscreen_exit':'fullscreen'}}
                        </span></mat-icon>
                </div>
                <div class="cursor-pointer border-start h-100 d-flex align-items-center justify-content-center mw-50"
                     tooltip="see notifications"
                     boundariesElement="window"
                     matRipple
                     [adaptivePosition]="true"
                     [tooltipAppendToBody]="true">
                    <mat-icon><span class="material-icons-outlined">
                            notifications_active
                        </span></mat-icon>
                </div>

                <div matRipple
                     class="cursor-pointer border-start h-100 d-flex align-items-center justify-content-center mw-50">
                    <img class="mat-elevation-z5"
                         class="userIconImage"
                         src="../../../../../assets/user.jpg"
                         width="32"
                         height="32" />
                </div>
            </div>
        </mat-toolbar>
        <div class="py-1 ps-1 bg-light vh-100">
            <xng-breadcrumb></xng-breadcrumb>
            <ngx-spinner name="general"></ngx-spinner>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>