<mat-card class="d-flex flex-column align-items-center p-0">
    <button class="btn btn-link position-absolute top-0 end-0 text-light"
            data-testid="closeBtn"
            *ngIf="!CloseIconHide"
            (click)="dialogHandler.CloseDialog();">
        <mat-icon class="mat-18">close</mat-icon>
    </button>
    <div class="bg-primary w-100 text-center text-white rounded-top">
        <p class="BusinessName"
           [routerLink]="['']">Coding Bible</p>
    </div>
    <form [formGroup]="RegisterForm"
          (ngSubmit)="RegisterForm.valid">
        <div class="form-container calibri-font p-3 row overflow-hidden">
            <div class="alert alert-danger"
                 data-testid="invalidErrors"
                 *ngIf="(ValidationErrors|async)?.length!>0">
                <p><strong>{{FormValidationErrors.PleaseCorrectErrors}}</strong></p>
                <ul>
                    <li *ngFor="let error of (ValidationErrors|async)">
                        <strong>{{error.key}}</strong> : {{error.message}}
                    </li>
                </ul>
            </div>
            <!-- ----------------------------------------------------------------------------------
            ||                                 Email                                             ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.Email}}</span></mat-label>
                <input matInput
                       [type]="InputFieldTypes.email"
                       value=""
                       required
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.email"
                       [placeholder]="FormConstants.PlaceHolders.emailExample" />
                <mat-icon matSuffix>email</mat-icon>

                <mat-error
                           *ngIf="RegisterForm.get(FormControlNames.authForm.email)?.hasError(FormValidationErrorsNames.pattern)">
                    {{FormValidationErrors.EnterValidEmail}}
                </mat-error>
                <mat-error
                           *ngIf="
                           RegisterForm.get(FormControlNames.authForm.email)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.EnterValidEmail}}
                </mat-error>
            </mat-form-field>
            <!-- ----------------------------------------------------------------------------------
            ||                                 UserName                                             ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.Username}}</span></mat-label>
                <input matInput
                       [type]="InputFieldTypes.text"
                       value=""
                       required
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.username" />
                <mat-icon matSuffix>
                    <i-bs [name]="BootstrapIcons.PersonFill"
                          width="30"
                          height="30">
                    </i-bs>
                </mat-icon>

                <mat-error
                           *ngIf="
                       RegisterForm.get(FormControlNames.authForm.username)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
            </mat-form-field>
            <!-- ----------------------------------------------------------------------------------
            ||                                First name and last name                           ||  
            --------------------------------------------------------------------------------------->

            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.FirstName}}</span></mat-label>
                <input matInput
                       [type]="InputFieldTypes.text"
                       value=""
                       required
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.firstname" />
                <mat-icon matSuffix>
                    <i-bs [name]="BootstrapIcons.PenFill"
                          width="25"
                          height="25">
                    </i-bs>
                </mat-icon>

                <mat-error
                           *ngIf="
                       RegisterForm.get(FormControlNames.authForm.firstname)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.LastName}}</span></mat-label>
                <input matInput
                       required
                       [type]="InputFieldTypes.text"
                       value=""
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.lastname" />
                <mat-icon matSuffix>
                    <i-bs [name]="BootstrapIcons.PenFill"
                          width="25"
                          height="25">
                    </i-bs>
                </mat-icon>

                <mat-error
                           *ngIf="
                       RegisterForm.get(FormControlNames.authForm.lastname)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
            </mat-form-field>

            <!-- ----------------------------------------------------------------------------------
            ||                                Password                                            ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.Passowrd}}</span></mat-label>
                <input matInput
                       #password
                       [tooltip]="PasswordValidations"
                       placement="right"
                       container="body"
                       boundariesElement="window"
                       [isOpen]="RegisterForm.get(FormControlNames.authForm.password)?.errors&&password.value?true:false"
                       triggers="focus"
                       required
                       [minlength]="PASSWORD_MINLENGTH"
                       [type]="InputFieldTypes.password"
                       value=""
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.password" />
                <mat-icon matSuffix
                          (click)="password.type===InputFieldTypes.password?
                          password.type=InputFieldTypes.text:password.type===InputFieldTypes.text?
                          password.type=InputFieldTypes.password:''">
                    <span class="material-icons cursor-pointer">
                        {{password.type===InputFieldTypes.password?'visibility':'visibility_off'}}
                    </span>
                </mat-icon>
                <mat-error
                           *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
                <ng-template #PasswordValidations>
                    <ul class="text-start"
                        *ngIf="!RegisterForm.get(FormControlNames.authForm.password)?.value">
                        <li>
                            {{FormValidationErrors.Password.minLength}}
                        </li>
                        <li>
                            {{FormValidationErrors.Password.hasCapitalCase}}
                        </li>
                        <li>
                            {{FormValidationErrors.Password.hasNumber}}
                        </li>
                        <li>
                            {{FormValidationErrors.Password.hasSmallCase}}
                        </li>
                        <li>
                            {{FormValidationErrors.Password.hasSpecialCharacters}}
                        </li>
                    </ul>
                    <ul class="text-start"
                        *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.value">
                        <li *ngIf="
                             RegisterForm.get(FormControlNames.authForm.password)?.
                             hasError(FormValidationErrorsNames.password.minLength)">
                            {{FormValidationErrors.Password.minLength}}
                        </li>
                        <li *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.
                        hasError(FormValidationErrorsNames.password.hasCapitalCase)">
                            {{FormValidationErrors.Password.hasCapitalCase}}
                        </li>
                        <li *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.
                        hasError(FormValidationErrorsNames.password.hasNumber)">
                            {{FormValidationErrors.Password.hasNumber}}
                        </li>
                        <li *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.
                        hasError(FormValidationErrorsNames.password.hasSmallCase)">
                            {{FormValidationErrors.Password.hasSmallCase}}
                        </li>
                        <li *ngIf="RegisterForm.get(FormControlNames.authForm.password)?.
                        hasError(FormValidationErrorsNames.password.hasSpecialCharacters)">
                            {{FormValidationErrors.Password.hasSpecialCharacters}}
                        </li>
                    </ul>
                </ng-template>
            </mat-form-field>
            <!-- ----------------------------------------------------------------------------------
            ||                                Confirm Password                                    ||  
            --------------------------------------------------------------------------------------->
            <mat-form-field [appearance]="defaultFormAppearance"
                            class="col">
                <mat-label><span>{{FormFieldsNames.authForm.ConfirmPassword}}</span></mat-label>
                <input matInput
                       #ConfirmPassword
                       [type]="InputFieldTypes.password"
                       value=""
                       required
                       [minlength]="PASSWORD_MINLENGTH"
                       [errorStateMatcher]="customErrorStateMatcher"
                       [formControlName]="FormControlNames.authForm.confirmpassword" />
                <mat-icon matSuffix
                          (click)="ConfirmPassword.type===InputFieldTypes.password?
                          ConfirmPassword.type=InputFieldTypes.text:ConfirmPassword.type===InputFieldTypes.text?
                          ConfirmPassword.type=InputFieldTypes.password:''">
                    <span class="material-icons cursor-pointer">
                        {{ConfirmPassword.type===InputFieldTypes.password?'visibility':'visibility_off'}}
                    </span>
                </mat-icon>
                <mat-error
                           *ngIf="RegisterForm.get(FormControlNames.authForm.confirmpassword)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
                <mat-error
                           *ngIf="RegisterForm.get(FormControlNames.authForm.confirmpassword)?.hasError(FormValidationErrorsNames.password.NoPassswordMatch)">
                    {{FormValidationErrors.Password.NoPassswordMatch}}
                </mat-error>
            </mat-form-field>
            <!------------------------Mat-Dialog-actions--------------------------->
            <div>
                <button mat-raised-button
                        color="primary"
                        dir="ltr"
                        [disabled]="RegisterForm.invalid || (RegisterForm.valid && (loading|async))"
                        class="w-100 mt-3"
                        data-testid="registerBtn"
                        aria-label="press to login"
                        (click)="Register()">
                    <mat-icon *ngIf="(loading|async)">
                        <mat-spinner diameter="20"
                                     color="warn"></mat-spinner>
                    </mat-icon>
                    {{(RegisterForm.valid || RegisterForm.invalid) &&
                    !(loading|async)?FormConstants.Register:''}}
                </button>
            </div>
            <!--End Mat-Dialog-actions-->
        </div>

    </form>
    <p *ngIf="ShowCardFooter"
       class="calibri-font m-3 fs-6 d-flex justify-content-center">
        {{FormConstants.DontHaveAccount}}&nbsp; <a data-testid="Login_CardFooterTrue"
           class="text-decoration-none btn-link fw-bold cursor-pointer"
           (click)="dialogHandler.CloseDialog();dialogHandler.OpenLogin()">
            {{FormConstants.Login}}.
        </a>
    </p>
</mat-card>
<p *ngIf="!ShowCardFooter"
   class="calibri-font mt-3 fs-6 d-flex justify-content-center">
    {{FormConstants.AlreadyHaveAccount}}&nbsp; <a data-testid="Login_CardFooterFalse"
       class="text-decoration-none btn-link fw-bold cursor-pointer"
       (click)="dialogHandler.CloseDialog();"
       [routerLink]="['',AuthRoutes.Login]">
        {{FormConstants.Login}}.
    </a>
</p>