<h1>Menus</h1>
<div class="card mt-3">
    <div class="card-header">
        Menus
    </div>
    <div class="card-body d-flex flex-row flex-wrap">
        <div style="width:49%">
            <h4 class="bg-dark text-white text-center">Locations</h4>
            <select class="form-select"
                    #LocationSelection
                    (change)="ShowMenus(LocationSelection.value)">
                <option disabled
                        selected>Select Location</option>
                <option *ngFor="let p of MenuLocations"
                        [value]="p.id">{{p.name|titlecase}}</option>
            </select>
        </div>
        <div style="width:49%;"
             class="ms-2 border border-1">
            <h4 class="bg-dark text-white text-center">Menus in : {{selectedLocation?.name|titlecase}}</h4>
            <span *ngIf="selectedLocation && selectedMenus.length===0"
                  class="px-2">
                No menus found. <a class="cursor-pointer"
                   (click)="spinner.removeSpinner();ActionTypeMenu=PostType.Add;MenuModelHandler.Toggle()">Add new</a>.
            </span>
            <span *ngIf="!selectedLocation"
                  class="px-2 text-danger">
                Choose location.
            </span>
            <ul *ngIf="selectedLocation && selectedMenus.length>0"
                class="list-unstyled styledMenus mb-0"
                id="SelectedMenuList">
                <li *ngFor="let m of selectedMenus"
                    (click)="ShowItemMenus(m)"
                    class="px-2 d-flex justify-content-between">
                    <span>{{m.name}}</span>
                    <div class="d-flex flex-row gap-2">
                        <button class="btn p-0"
                                (click)="spinner.removeSpinner();ActionTypeMenu=PostType.Edit;MenuForm.patchValue(m);MenuModelHandler.Toggle()"><i
                               class="bi bi-pen-fill text-primary"></i></button>
                        <button class="btn py-0"
                                (click)="DeleteMenu(m.id)"><i class="bi bi-trash2-fill text-danger"></i></button>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- end card body -->
</div><!-- end category card -->
<div class="d-flex flex-row flex-wrap mt-3 justify-content-between">
    <div style="width: 24%; ">
        <h5 class="text-center">Add menu items</h5>
        <div class="accordion rounded-2  border border-1 mat-elevation-z2"
             id="PostsHandler">
            <div class="accordion-item">
                <h2 class="accordion-header"
                    id="flush-headingOne">
                    <button class="accordion-button bg-dark text-white fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#Posts"
                            aria-expanded="false"
                            aria-controls="Posts">
                        Posts
                    </button>
                </h2>
                <div id="Posts"
                     class="accordion-collapse"
                     aria-labelledby="Posts"
                     data-bs-parent="#PostsHandler">
                    <ul class="list-unstyled p-1 m-0 styledMenus">
                        <li class="dragablePost"
                            (click)="AddToOpenedList(post)"
                            *ngFor="let post of (Posts|async)">{{post.title}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div style="width:74%">
        <h5 class="text-center">Menu structure</h5>
        <div class="bg-white border border-1 p-2">
            <ul class="list-unstyled m-0 menu-Structure-List "
                #menuStructureContainer>
                <li class="rounded-2 bg-light border border-1 p-2 mb-2 dragable menu-item"
                    *ngFor="let item of currentMenu.menuItems;let i=index"
                    [style.marginLeft]="item.level*10+ 'px'"
                    [id]="item.id"
                    [attr.data-parentkey]="item.parentKey"
                    [attr.data-index]="i"
                    [attr.data-level]="item.level">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="small fw-bold">{{item.enName}}</div>
                        <div class="d-flex flex-row align-items-center">

                            <button class="btn rounded-circle me-1"
                                    (click)="spinner.removeSpinner();modal.Toggle(); SetParent(item.id)">
                                <i class="bi bi-pencil-fill text-primary"></i>
                            </button>
                            <button class="btn rounded-circle"
                                    (click)="currentMenu.menuItems.splice(currentMenu.menuItems.indexOf(item),1)">
                                <i class="bi bi-x-lg text-danger"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<bootstrap-modal #modal
                 [VerticallyCentered]="true"
                 [Modal_Body_template]="body"
                 Modal_Header_Text="Locate menu item"
                 [Modal_Footer_template]="footer"></bootstrap-modal>

<ng-template #body>
    <form [formGroup]="Form"
          #form>
        <!-- *******************************************************************
        *                           Parent
        **********************************************************************-->
        <div class="form-floating has-validation mb-3">
            <select #parent
                    required
                    [class]="errorState.isErrorState('parent', Form, form)?
                  'form-select is-invalid':'form-select is-valid'"
                    id="parentkey"
                    formControlName="parent"
                    aria-label="Select parent category"
                    (change)="ChangeParent()">
                <option value="0">No parent</option>
                <option *ngFor="let cat of currentMenu.menuItems"
                        [value]="cat.id"
                        [disabled]="cat.id === CurrentItem.id">
                    <span *ngFor="let _ of [].constructor(cat.level)">&nbsp;&nbsp;</span>{{cat.enName}}
                </option>
            </select>

            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get('parent')?.hasError(FormValidationErrorsNames.required)
             &&errorState.isErrorState('parent', Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="parentkey"
                   class="form-label">Parent</label>
        </div>
        <!-- *******************************************************************
        *                           Order
        **********************************************************************-->
        <div class="form-floating has-validation mb-3"
             *ngIf="this.Form.get('parent')?.value!==0">
            <select #order
                    required
                    [class]="errorState.isErrorState('order', Form, form)?
                  'form-select is-invalid':'form-select is-valid'"
                    id="order"
                    formControlName="order">
                <option *ngFor="let el of currentItemSblings; let i=index"
                        [value]="el.orderWithinParent"
                        [disabled]="el.id === CurrentItem.id || currentItemSblings.length>1">
                    {{el.orderWithinParent}} <span *ngIf="i+1!==currentItemSblings.length">- Before
                        {{currentItemSblings[i+1].enName}}</span>
                    <span *ngIf="i+1===currentItemSblings.length">- At the end</span>
                    <span *ngIf="currentItemSblings.indexOf(CurrentItem)===i"> (Current location)</span>
                </option>
                <option *ngIf="!currentItemSblings.includes(CurrentItem)"
                        [value]="currentItemSblings.length">Add at the end</option>
                <option *ngIf="currentItemSblings.length===0"
                        [value]="currentItemSblings.length">0 - the only item in this parent</option>
            </select>
            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get('order')?.hasError(FormValidationErrorsNames.required)
             &&errorState.isErrorState('order', Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="parentkey"
                   class="form-label">Order within parent</label>
        </div>
        <div class="form-floating has-validation mb-3"
             *ngIf="this.Form.get('parent')?.value===0">
            <select #order
                    required
                    [class]="errorState.isErrorState('order', Form, form)?
                  'form-select is-invalid':'form-select is-valid'"
                    id="order"
                    formControlName="order">
                <option *ngFor="let el of roots;let i = index"
                        [value]="i">
                    {{i}}
                </option>
            </select>
            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="Form.get('order')?.hasError(FormValidationErrorsNames.required)
             &&errorState.isErrorState('order', Form, form)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="parentkey"
                   class="form-label">Order of roots</label>
        </div>
    </form>
</ng-template>
<ng-template #footer>
    <button type="button"
            class="btn btn-primary"
            (click)="UpdateMenu()"
            data-bs-dismiss="modal">
        Save
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="Form.reset()"
            data-bs-dismiss="modal">Close</button>
</ng-template>
<!-- -------------------------------------------------------------------------------------
                                Add or Edit Menu
------------------------------------------------------------------------------------------>
<bootstrap-modal #MenuModelHandler
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="MenuModelHeader"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="MenuModelBody"
                 ModalId="CourseCategoryHandler"
                 [Modal_Footer_template]="MenuModelFooter"></bootstrap-modal>
<ng-template #MenuModelHeader>
    <h4 class="modal-title text-white-50">
        <span class="text-warning"
              *ngIf="ActionTypeMenu===PostType.Add"><i class="bi bi-plus-circle-dotted text-white small"></i> Add
            new</span>
        <span class="text-warning"
              *ngIf="ActionTypeMenu===PostType.Edit"><i class="bi bi-pencil-fill text-white small"></i> Edit </span>
        Menu
    </h4>
</ng-template>
<ng-template #MenuModelBody>
    <h5>Location : {{selectedLocation?.name |titlecase}}</h5>
    <form [formGroup]="MenuForm"
          #form>
        <input type="text"
               required
               [formControlName]="FormControlNames.MenuForm.name"
               [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuForm.name, MenuForm)?'form-control':
                               errorState.isErrorState(FormControlNames.MenuForm.name, MenuForm, form)?
                               'form-control is-invalid':'form-control is-valid'"
               id="CatName"
               [placeholder]="FormFieldsNames.MenuForm.name">
    </form>
</ng-template>
<ng-template #MenuModelFooter>
    <button type="button"
            *ngIf="ActionTypeMenu===PostType.Add"
            class="btn btn-primary"
            (click)="AddMenu()"
            data-bs-dismiss="modal">
        Add
    </button>
    <button type="button"
            *ngIf="ActionTypeMenu===PostType.Edit"
            class="btn btn-primary"
            (click)="EditMenu()"
            data-bs-dismiss="modal">
        Save
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="MenuForm.reset()"
            data-bs-dismiss="modal">Close</button>
</ng-template>