<h1>Menus</h1>
<div class="card mt-3">
    <div class="card-header">
        Menus
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-12">
                <h4 class="bg-dark text-white text-center">Locations</h4>
                <select class="form-select"
                        #LocationSelection
                        (change)="ShowMenus(LocationSelection.value)">
                    <option disabled
                            selected>Select Location</option>
                    <option *ngFor="let p of MenuLocations"
                            [value]="p.id">{{p.name|titlecase}}</option>
                </select>
            </div>
            <div class="col-sm-6 col-12">
                <div class="border border-1">
                    <h4 class="bg-dark text-white text-center">Menus in :
                        <span *ngIf="!selectedLocation"
                              class="text-warning">Choose location</span>
                        <span *ngIf="selectedLocation"
                              style="color:#6bff8b">{{selectedLocation?.name|titlecase}}</span>
                    </h4>
                    <span *ngIf="selectedLocation && selectedMenus.length===0"
                          class="px-2">
                        No menus found. <a class="cursor-pointer"
                           (click)="spinner.removeSpinner();ActionTypeMenu=PostType.Add;MenuModelHandler.Toggle()">Add
                            new</a>.
                    </span>
                    <span *ngIf="!selectedLocation"
                          class="px-2 text-danger">
                        Choose location.
                    </span>

                    <ul *ngIf="selectedLocation && selectedMenus.length>0"
                        class="list-unstyled styledMenus mb-0"
                        id="SelectedMenuList">
                        <li *ngFor="let m of selectedMenus"
                            (click)="ShowItemMenus(m)"
                            class="px-2 d-flex justify-content-between">
                            <span>{{m.name}}</span>
                            <div class="d-flex flex-row gap-2">
                                <button class="btn p-0"
                                        (click)="spinner.removeSpinner();ActionTypeMenu=PostType.Edit;MenuForm.patchValue(m);MenuModelHandler.Toggle()"><i
                                       class="bi bi-pen-fill text-primary"></i></button>
                                <button class="btn py-0"
                                        (click)="DeleteMenu(m.id)"><i
                                       class="bi bi-trash2-fill text-danger"></i></button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end card body -->
</div><!-- end category card -->
<div class="d-flex flex-row flex-wrap mt-3 justify-content-between">
    <div style="width:100%">
        <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
            <h5 class="text-center">Menu structure</h5>
            <a class="text-primary cursor-pointer"
               *ngIf="currentMenu"
               (click)="spinner.removeSpinner();ActionTypeMenuItem=PostType.Add;MenuItemModal.Toggle();MenuItemForm.disable();">
                Add Menu item
            </a>
        </div>

        <div class="bg-white border border-1 p-2 mw-100">
            <div class="h-100 d-flex flex-row align-items-center justify-content-center"
                 *ngIf="!selectedLocation || !currentMenu">
                <h5 class="text-danger">Choose menu location then choose menu.</h5>
            </div>
            <div class="h-100 d-flex flex-row align-items-center justify-content-center"
                 *ngIf="currentMenu &&currentMenu.menuItems.length===0">
                <h5 class="text-primary">No menu items are found in this menu.</h5>
            </div>
            <ul class="h-100 list-unstyled m-0 menu-Structure-List "
                *ngIf="currentMenu &&currentMenu.menuItems.length>0"
                #menuStructureContainer>
                <li class="rounded-2 bg-light border border-1 p-2 mb-2 dragable menu-item"
                    *ngFor="let item of currentMenuItems;let i=index"
                    [style.marginLeft]="item.level*10+ 'px'"
                    [id]="item.id"
                    [attr.data-parentkey]="item.parentKey"
                    [attr.data-index]="i"
                    [attr.data-level]="item.level">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="small fw-bold">{{item.enName}}</div>
                        <div class="d-flex flex-row align-items-center">
                            <button class="btn rounded-circle me-1"
                                    (click)="MenuItemModal.Toggle(); FillFormFromSelectedMenuItem(item)">
                                <i class="bi bi-pencil-fill text-primary"></i>
                            </button>
                            <button class="btn rounded-circle"
                                    (click)="DeleteMenuItem(item.id!)">
                                <i class="bi bi-x-lg text-danger"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<bootstrap-modal #MenuItemModal
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="MenuItemModalHeader"
                 [Modal_Body_template]="MenuItemModalbody"
                 Modal_Header_Text="Locate menu item"
                 Modal_Header_AdditionalClasses="bg-dark"
                 ModalId="MenuItemModal"
                 [Modal_Footer_template]="MenuItemModalFooter"></bootstrap-modal>
<ng-template #MenuItemModalHeader>
    <h4 class="modal-title text-white-50">
        <span class="text-warning"
              *ngIf="ActionTypeMenuItem===PostType.Add"><i class="bi bi-plus-circle-dotted text-white small"></i> Add
            new</span>
        <span class="text-warning"
              *ngIf="ActionTypeMenuItem===PostType.Edit"><i class="bi bi-pencil-fill text-white small"></i> Edit </span>
        Menu Item
    </h4>
</ng-template>
<ng-template #MenuItemModalbody>
    <form *ngIf="ActionTypeMenuItem!==PostType.Edit"
          [formGroup]="DetectMenuItemForm"
          #MenuItemType>
        <div class="form-floating mb-3">
            <select #menuItemType
                    [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.type, DetectMenuItemForm)?'form-select':
                    errorState.isErrorState(FormControlNames.DetectMenuItemForm.type, DetectMenuItemForm, MenuItemType)?
                    'form-select is-invalid':'form-select is-valid'"
                    id="MenuItemType"
                    [formControlName]="FormControlNames.DetectMenuItemForm.type"
                    aria-label="select menu item type"
                    (change)="ChangeMenuItemType()">
                <option [value]="null"
                        selected>Select menu item type</option>
                <option [value]="1">Custom (e.g. external link)</option>
                <option [value]="2">Course</option>
                <option [value]="3">Course Category</option>
                <option [value]="4">Course section</option>
                <option [value]="5">Course lesson</option>
                <option [value]="6">Post</option>
                <option [value]="7">Post Category</option>
            </select>

            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.type)?.hasError(FormValidationErrorsNames.required)
             &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.type, DetectMenuItemForm, MenuItemType)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="MenuItemType"
                   class="form-label">Select type</label>
        </div>
        <!-- -------------------------------------------------------------------------------------
                                    Ng switch
        ------------------------------------------------------------------------------->
        <div [ngSwitch]="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.type)?.value">
            <div *ngSwitchCase="MenuItemTypeConst.Course">
                <ng-container *ngTemplateOutlet="courseFormControl"></ng-container>
            </div>
            <div *ngSwitchCase="MenuItemTypeConst.Course_section">
                <ng-container *ngTemplateOutlet="courseFormControl"></ng-container>
                <ng-container *ngTemplateOutlet="sectionFormControl"></ng-container>
            </div>
            <div *ngSwitchCase="MenuItemTypeConst.Course_lesson">
                <ng-container *ngTemplateOutlet="courseFormControl"></ng-container>
                <ng-container *ngTemplateOutlet="sectionFormControl"></ng-container>
                <ng-container *ngTemplateOutlet="LessonFormControl"></ng-container>
            </div>
            <div *ngSwitchCase="MenuItemTypeConst.Course_Category">
                <ng-container *ngTemplateOutlet="course_categoryFormControl"></ng-container>
            </div>
            <div *ngSwitchCase="MenuItemTypeConst.Post">
                <ng-container *ngTemplateOutlet="PostFormControl"></ng-container>
            </div>
            <div *ngSwitchCase="MenuItemTypeConst.Post_Category">
                <ng-container *ngTemplateOutlet="PostCategoryFormControl"></ng-container>
            </div>
        </div>
        <!-- ------------------------------------------------------------------------------------
                                                Course Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #courseFormControl>
            <div class="form-floating mb-3">
                <select #CourseSelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.courseId, DetectMenuItemForm)?'form-select':
                errorState.isErrorState(FormControlNames.DetectMenuItemForm.courseId, DetectMenuItemForm, MenuItemType)?
                'form-select is-invalid':'form-select is-valid'"
                        id="CourseSelector"
                        [formControlName]="FormControlNames.DetectMenuItemForm.courseId"
                        aria-label="select course"
                        (change)="ChangeCourse(CourseSelector.value)">
                    <option [value]="null"
                            selected>Select course</option>
                    <option [value]="c.id"
                            [dir]="c.isArabic?'rtl':'ltr'"
                            [disabled]="c.otherSlug===null"
                            *ngFor="let c of (Courses$|async)">
                        {{c.name}}
                    </option>
                </select>
                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.courseId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.courseId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="CourseSelector"
                       class="form-label">Select Course</label>
            </div>
        </ng-template>
        <!-- ------------------------------------------------------------------------------------
                                                Section Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #sectionFormControl>
            <div class="form-floating mb-3">
                <select #SectionSelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.sectionId, DetectMenuItemForm)?'form-select':
                errorState.isErrorState(FormControlNames.DetectMenuItemForm.sectionId, DetectMenuItemForm, MenuItemType)?
                      'form-select is-invalid':'form-select is-valid'"
                        id="SectionSelector"
                        [formControlName]="FormControlNames.DetectMenuItemForm.sectionId"
                        aria-label="select section"
                        (change)="ChangeSection(SectionSelector.value)">
                    <option [value]="null"
                            selected>Select section</option>
                    <option [value]="s.id"
                            [dir]="s.isArabic?'rtl':'ltr'"
                            [disabled]="selectedMenuItemType === MenuItemTypeConst.Course_lesson && !s.isLeafSection || s.otherSlug===null"
                            *ngFor="let s of selectedSectionsForCourse">
                        <span *ngFor="let _ of [].constructor(s.level)">&nbsp;&nbsp;</span>{{s.name}}
                    </option>
                </select>

                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.sectionId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.sectionId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="SectionSelector"
                       class="form-label">Select Section</label>
            </div>
        </ng-template>
        <!-- ------------------------------------------------------------------------------------
                                                Lesson Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #LessonFormControl>
            <div class="form-floating has-validation mb-3">
                <select #lessonSelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.lessonId, DetectMenuItemForm)?'form-select':
                errorState.isErrorState(FormControlNames.DetectMenuItemForm.lessonId, DetectMenuItemForm, MenuItemType)?
                      'form-select is-invalid':'form-select is-valid'"
                        id="LessonSelector"
                        [formControlName]="FormControlNames.DetectMenuItemForm.lessonId"
                        aria-label="select lesson"
                        (click)="ChangeLesson(lessonSelector.value)">
                    <option [value]="null"
                            selected>Select lesson</option>
                    <option [value]="l.id"
                            [dir]="l.isArabic?'rtl':'ltr'"
                            [disabled]="l.otherSlug===null"
                            *ngFor="let l of SelectedLessons">
                        {{l.name}}
                    </option>
                </select>

                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.lessonId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.lessonId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="LessonSelector"
                       class="form-label">Select Lesson</label>
            </div>
        </ng-template>
        <!-- ------------------------------------------------------------------------------------
                                                course_category Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #course_categoryFormControl>
            <div class="form-floating mb-3">
                <select #CourseCategorySelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.courseCategoryId, DetectMenuItemForm)?'form-select':
                errorState.isErrorState(FormControlNames.DetectMenuItemForm.courseCategoryId, DetectMenuItemForm, MenuItemType)?
                      'form-select is-invalid':'form-select is-valid'"
                        id="course_categoryFormControl"
                        [formControlName]="FormControlNames.DetectMenuItemForm.courseCategoryId"
                        aria-label="select course category"
                        (click)="ChangeCourseCategory(CourseCategorySelector.value)">
                    <option [value]="null"
                            selected>Select course category</option>
                    <option [value]="c.id"
                            [disabled]="c.otherSlug===null"
                            *ngFor="let c of AllCourseCategory">
                        <span *ngFor="let _ of [].constructor(c.level)">&nbsp;&nbsp;</span>{{c.name}}
                    </option>
                </select>

                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.courseCategoryId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.courseCategoryId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="course_categoryFormControl"
                       class="form-label">Select course category</label>
            </div>
        </ng-template>
        <!-- ------------------------------------------------------------------------------------
                                                Post Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #PostFormControl>
            <div class="form-floating has-validation mb-3">
                <select #PostSelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.postId, DetectMenuItemForm)?'form-select':
                        errorState.isErrorState(FormControlNames.DetectMenuItemForm.postId, DetectMenuItemForm, MenuItemType)?
                      'form-select is-invalid':'form-select is-valid'"
                        id="PostFormControl"
                        [formControlName]="FormControlNames.DetectMenuItemForm.postId"
                        aria-label="select post"
                        (click)="ChangePost(PostSelector.value)">
                    <option [value]="null">Select post</option>
                    <option [value]="p.id"
                            [dir]="p.isArabic?'rtl':'ltr'"
                            [disabled]="p.otherSlug===null"
                            *ngFor="let p of (Posts$|async)">
                        {{p.title.substring(0,40)}}...
                    </option>
                </select>

                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.postId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.postId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="PostFormControl"
                       class="form-label">Select post</label>
            </div>
        </ng-template>
        <!-- ------------------------------------------------------------------------------------
                                                Post Category Selector
        ---------------------------------------------------------------------------------------->
        <ng-template #PostCategoryFormControl>
            <div class="form-floating has-validation mb-3">
                <select #postCategorySelector
                        [class]="!errorState.isTouchedOrDirty(FormControlNames.DetectMenuItemForm.postCategoryId, DetectMenuItemForm)?'form-select':
                errorState.isErrorState(FormControlNames.DetectMenuItemForm.postCategoryId, DetectMenuItemForm, MenuItemType)?
                      'form-select is-invalid':'form-select is-valid'"
                        id="PostCategoryFormControl"
                        [formControlName]="FormControlNames.DetectMenuItemForm.postCategoryId"
                        aria-label="select post category"
                        (click)="ChangePostCategory(postCategorySelector.value)">
                    <option [value]="null">Select post category</option>
                    <option [value]="pc.id"
                            [disabled]="pc.otherSlug===null"
                            [dir]="pc.isArabic?'rtl':'ltr'"
                            *ngFor="let pc of AllPostCategory">
                        <span *ngFor="let _ of [].constructor(pc.level)">&nbsp;&nbsp;</span>{{pc.title}}
                    </option>
                </select>

                <div class="validationDiv">
                    <span class="invalid-feedback d-block m-0"
                          *ngIf="DetectMenuItemForm.get(FormControlNames.DetectMenuItemForm.postCategoryId)?.hasError(FormValidationErrorsNames.required)
                 &&errorState.isErrorState(FormControlNames.DetectMenuItemForm.postCategoryId, DetectMenuItemForm, MenuItemType)">
                        {{FormValidationErrors.RequiredField}}
                    </span>
                </div>
                <label for="PostCategoryFormControl"
                       class="form-label">Select post category</label>
            </div>
        </ng-template>
    </form>
    <form [formGroup]="MenuItemForm"
          #menuItemform>
        <!-- *******************************************************************
        *                          English title
        **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   [formControlName]="FormControlNames.MenuItemForm.enName"
                   [placeholder]="FormFieldsNames.MenuItemForm.enName"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuItemForm.enName, MenuItemForm)?'form-control':
                                   errorState.isErrorState(FormControlNames.MenuItemForm.enName, MenuItemForm, menuItemform)?
                                   'form-control is-invalid':'form-control is-valid'"
                   id="enName">
            <label for="enName">{{FormFieldsNames.MenuItemForm.enName}}</label>
        </div> <!-- end of English title tag -->
        <!-- *******************************************************************
        *                          English Link
        **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   [formControlName]="FormControlNames.MenuItemForm.enUrl"
                   [placeholder]="FormFieldsNames.MenuItemForm.enUrl"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuItemForm.enUrl, MenuItemForm)?'form-control':
                            errorState.isErrorState(FormControlNames.MenuItemForm.enUrl, MenuItemForm, menuItemform)?
                            'form-control is-invalid':'form-control is-valid'"
                   id="enUrl">
            <label for="enUrl">{{FormFieldsNames.MenuItemForm.enUrl}}</label>
        </div> <!-- end of English Link tag -->
        <!-- *******************************************************************
        *                          Arabic Title
        **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   [formControlName]="FormControlNames.MenuItemForm.arName"
                   [placeholder]="FormFieldsNames.MenuItemForm.arName"
                   dir="rtl"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuItemForm.arName, MenuItemForm)?'form-control':
                            errorState.isErrorState(FormControlNames.MenuItemForm.arName, MenuItemForm, menuItemform)?
                            'form-control is-invalid':'form-control is-valid'"
                   id="arName">
            <label for="arName">{{FormFieldsNames.MenuItemForm.arName}}</label>
        </div> <!-- end of Arabic Title tag -->
        <!-- *******************************************************************
        *                          Arabic Link
        **********************************************************************-->
        <div class="form-floating mb-3">
            <input [type]="InputFieldTypes.text"
                   [formControlName]="FormControlNames.MenuItemForm.arUrl"
                   [placeholder]="FormFieldsNames.MenuItemForm.arUrl"
                   [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuItemForm.arUrl, MenuItemForm)?'form-control':
                            errorState.isErrorState(FormControlNames.MenuItemForm.arUrl, MenuItemForm, menuItemform)?
                            'form-control is-invalid':'form-control is-valid'"
                   id="arUrl">
            <label for="arUrl">{{FormFieldsNames.MenuItemForm.arUrl}}</label>
        </div> <!-- end of Arabic Link tag -->
        <!-- *******************************************************************
        *                           Parent Category
        **********************************************************************-->
        <div class="form-floating has-validation mb-3">
            <select #parent
                    required
                    [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuItemForm.parentKey, MenuItemForm)?'form-select':
                    errorState.isErrorState(FormControlNames.MenuItemForm.parentKey, MenuItemForm, menuItemform)?
                                   'form-select is-invalid':'form-select is-valid'"
                    id="parentkey"
                    [formControlName]="FormControlNames.MenuItemForm.parentKey"
                    (change)="onMenuParentChange(parent)"
                    aria-label="Select parent category">
                <option [value]="null">Select parent</option>
                <option value="0">No parent</option>
                <option *ngFor="let cat of currentMenuItems"
                        [value]="cat.id"
                        [disabled]="(cat.id === MenuItemForm.get('id')?.value||MenuItemForm.get('id')?.value==cat.parentKey)&&ActionTypeMenuItem!==PostType.Add">
                    <span *ngFor="let _ of [].constructor(cat.level)">&nbsp;&nbsp;</span>{{cat.enName}}
                </option>
            </select>

            <div class="validationDiv">
                <span class="invalid-feedback d-block m-0"
                      *ngIf="MenuItemForm.get(FormControlNames.MenuItemForm.parentKey)?.hasError(FormValidationErrorsNames.required)
                              &&errorState.isErrorState(FormControlNames.MenuItemForm.parentKey, MenuItemForm, menuItemform)">
                    {{FormValidationErrors.RequiredField}}
                </span>
            </div>
            <label for="parentkey"
                   class="form-label">{{FormFieldsNames.MenuItemForm.parentKey}}</label>
        </div>
        <!-- *******************************************************************
        *                          order
        **********************************************************************-->
        <div class="form-floating mb-2">
            <input type="number"
                   [formControlName]="FormControlNames.MenuItemForm.orderWithinParent"
                   min="1"
                   [max]="ActionTypeMenuItem === PostType.Edit?SblingsOfCurrenMenuItem.length:SblingsOfCurrenMenuItem.length+1"
                   placeholder="Menu item Order"
                   class="form-control"
                   id="SectionOrderInput"
                   (input)="MenuItemOrderChanged=true;GetNewSectionPostion()">
            <label for="SectionOrderInput">
                Menu Item order
            </label>
        </div>
        <div *ngIf="(selectedMenuItemId!>0 || selectedMenuItemId!=null) && ActionTypeMenuItem===PostType.Edit"
             class="mb-2">
            <h5>Current position</h5>
            <div *ngIf="SblingsOfCurrenMenuItem.length===1">
                <div>It is the only section</div>
            </div>
            <div *ngIf="SblingsOfCurrenMenuItem.length>1">
                <div *ngIf="!PreviousMenuItem">First Section</div>
                <div *ngIf="!NextMenuItem">Last Section</div>
            </div>
            <div *ngIf="PreviousMenuItem && NextMenuItem">
                <div>
                    <span>After:</span>
                    <span>{{PreviousMenuItem.enName}}</span>
                </div>
                <div>
                    <span>Before:</span>
                    <span>{{NextMenuItem.enName}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="(selectedMenuItemId!>0 || selectedMenuItemId!=null)&&MenuItemOrderChanged">
            <h5><span *ngIf="ActionTypeMenuItem === PostType.Edit">New</span> Position</h5>
            <div *ngIf="SblingsOfCurrenMenuItem.length==0">
                <div>It is the only Item</div>
            </div>
            <div *ngIf="SblingsOfCurrenMenuItem.length>0">
                <div *ngIf="!NewPreviousMenuItem">First Section</div>
                <div *ngIf="!NewNextMenuItem">Last Section</div>
            </div>
            <div *ngIf="NewPreviousMenuItem && NewNextMenuItem">
                <div>
                    <span>After:</span>
                    <span>{{NewNextMenuItem?.enName}}</span>
                </div>
                <div>
                    <span>Before:</span>
                    <span>{{NewNextMenuItem?.enName}}</span>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<ng-template #MenuItemModalFooter>
    <button type="button"
            *ngIf="ActionTypeMenuItem===PostType.Add"
            class="btn btn-primary"
            (click)="AddOrEditMenuItem()">
        Add
    </button>
    <button type="button"
            *ngIf="ActionTypeMenuItem===PostType.Edit"
            class="btn btn-primary"
            (click)="AddOrEditMenuItem()"
            data-bs-dismiss="modal">
        Save
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="MenuItemForm.reset();DetectMenuItemForm.reset();"
            data-bs-dismiss="modal">Close</button>
</ng-template>
<!-- -------------------------------------------------------------------------------------
                                Add or Edit Menu
------------------------------------------------------------------------------------------>
<bootstrap-modal #MenuModelHandler
                 [VerticallyCentered]="true"
                 [Modal_Header_Template]="MenuModelHeader"
                 Modal_Header_AdditionalClasses="bg-dark"
                 [Modal_Body_template]="MenuModelBody"
                 ModalId="MenuModelHandler"
                 [Modal_Footer_template]="MenuModelFooter"></bootstrap-modal>
<ng-template #MenuModelHeader>
    <h4 class="modal-title text-white-50">
        <span class="text-warning"
              *ngIf="ActionTypeMenu===PostType.Add"><i class="bi bi-plus-circle-dotted text-white small"></i> Add
            new</span>
        <span class="text-warning"
              *ngIf="ActionTypeMenu===PostType.Edit"><i class="bi bi-pencil-fill text-white small"></i> Edit </span>
        Menu
    </h4>
</ng-template>
<ng-template #MenuModelBody>
    <h5>Location : {{selectedLocation?.name |titlecase}}</h5>
    <form [formGroup]="MenuForm"
          #form>
        <input type="text"
               required
               [formControlName]="FormControlNames.MenuForm.name"
               [class]="!errorState.isTouchedOrDirty(FormControlNames.MenuForm.name, MenuForm)?'form-control':
                               errorState.isErrorState(FormControlNames.MenuForm.name, MenuForm, form)?
                               'form-control is-invalid':'form-control is-valid'"
               id="CatName"
               [placeholder]="FormFieldsNames.MenuForm.name">
    </form>
</ng-template>
<ng-template #MenuModelFooter>
    <button type="button"
            *ngIf="ActionTypeMenu===PostType.Add"
            class="btn btn-primary"
            (click)="AddMenu()"
            data-bs-dismiss="modal">
        Add
    </button>
    <button type="button"
            *ngIf="ActionTypeMenu===PostType.Edit"
            class="btn btn-primary"
            (click)="EditMenu()"
            data-bs-dismiss="modal">
        Save
    </button>
    <button class="btn btn-secondary"
            type="button"
            (click)="MenuForm.reset()"
            data-bs-dismiss="modal">Close</button>
</ng-template>