.selectedImage{
    box-shadow: 0 0 0px 0px #fff, 0 0 3px 3px #2271b1
}
.thumbnail{
    width: 100% !important;
     max-height: 120px !important; object-fit: contain;
}
.NonSelectedImage{
    box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.483);
}
