<bootstrap-modal #modal
                 [Modal_Body_template]="AddBody"
                 [FullScreeen]="true"
                 FullScreenClass="modal-fullscreen"
                 Modal_Header_AdditionalClasses="bg-dark text-white-50"
                 Modal_Body_Additionalclasses="bg-light py-0"
                 [Modal_Header_Template]="AddHeader"
                 [Modal_Footer_template]="AddFooter"></bootstrap-modal>

<ng-template #AddHeader>
    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
        <h5> <span class="text-warning">Add </span> Media</h5>
        <button class="btn btn-warning shadow fw-bold text-black-50"
                (click)="openBrowseFiles()">Add</button>
        <input type="file"
               id="AddButton"
               class="form-control d-none"
               multiple
               (change)="uploadImage($event)">
    </div>
</ng-template>
<ng-template #AddBody>
    <div class="row h-100 bg-light ">
        <!-- ***************************************************************************
                                        Media List
        *****************************************************************************-->
        <div class="col-12 col-sm-9 bg-white p-2 overflow-auto">
            <div *ngIf="(attachments$|async)?.length==00"
                 class="d-flex flex-row justify-content-center align-items-center gap-2 h-100">
                <h5>No Media are found</h5>
            </div>
            <ul class="my-2 d-flex flex-row flex-wrap list-unstyled"
                *ngIf="(attachments$|async)?.length!>0">
                <li *ngFor="let f of (attachments$|async)"
                    style="width: 120px; height: 120px;"
                    (click)="SelectFile(f)"
                    class=" placeholder-glow m-1 d-flex flex-row justify-content-center align-items-center">
                    <span *ngIf="f.thumbnailUrl===''"
                          class="placeholder bg-gradient d-flex justify-content-center align-items-center"
                          style="width: 120px; height: 120px;">
                        <span class=" text-white small text-wrap">{{f.fileName}}</span>
                    </span>
                    <ng-template #largeImage>
                        <img [src]="f.fileUrl"
                             class="img-fluid">
                    </ng-template>
                    <img *ngIf="f.thumbnailUrl!==''"
                         [src]="f.thumbnailUrl"
                         [alt]="f.altText"
                         [tooltip]="largeImage"
                         containerClass="imageToolTip"
                         placement="bottom"
                         [class]="f.fileName===(selectedFile$|async)?.fileName?'selectedImage ':'img-thumbnail'">
                </li>
            </ul>
        </div>
        <!-- *******************************************************************************
                                        Side bar data
        ***********************************************************************************-->
        <div class="col-12 bg-light col-sm-3 p-2 px-4 overflow-auto">
            <div *ngIf="(selectedFile$|async)===null"
                 class="d-flex flex-row justify-content-center align-items-center h-100">
                <h5 class="text-center">Select an image from the image list</h5>
            </div>
            <div *ngIf="(selectedFile$|async)!==null">
                <!-- **********************************************************
                                        attachment details 
                ****************************************************************-->
                <div class="border-bottom pb-3">
                    <h6 class="text-black-50">ATTACHMENT DETAILS</h6>
                    <div class="row">
                        <div
                             class="placeholder-glow col-12 col-sm-5 pe-0 d-flex flex-row justify-content-center align-items-center">
                            <span *ngIf="(selectedFile$|async)?.thumbnailUrl===''"
                                  class="placeholder bg-gradient d-flex justify-content-center align-items-center"
                                  style="width: 100%; height: 150px; max-height: 200px;">
                                <span class=" text-white small text-wrap">{{(selectedFile$|async)?.fileName}}</span>
                            </span>
                            <img *ngIf="(selectedFile$|async)?.thumbnailUrl!==''"
                                 [src]="(selectedFile$|async)?.thumbnailUrl"
                                 [alt]="(selectedFile$|async)?.altText"
                                 class="img-thumbnail">
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="small text-black-50 fw-bold">{{(selectedFile$|async)?.fileName}}</div>
                            <div class="small text-black-50">{{(selectedFile$|async)?.createdDate| date}}</div>
                            <div class="small text-black-50">{{(selectedFile$|async)?.fileSize!| fileSize}}</div>
                            <div class="small text-black-50">
                                <span class="placeholder-glow"
                                      *ngIf="(selectedFile$|async)?.width===''
                                ||(selectedFile$|async)?.height===''">
                                    <span class="placeholder col-6 bg-gradient"></span>
                                </span>
                                <span *ngIf="(selectedFile$|async)?.width!==''||(selectedFile$|async)?.height!==''">
                                    {{(selectedFile$|async)?.width}} by {{(selectedFile$|async)?.height}} pixels
                                </span>
                            </div>
                            <div *ngIf="(selectedFile$|async)?.thumbnailUrl!==''">
                                <a class="text-decoration-none small cursor-pointer">Edit image</a><br>
                                <a class="text-decoration-none small text-danger cursor-pointer"
                                   (click)="DeleteAttachment()">Delete permenantly</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- **********************************************************
                                        image details Form
                ****************************************************************-->
                <form [formGroup]="form"
                      #Form
                      class="pt-3">
                    <h6 class="text-black-50">ATTACHMENT DETAILS</h6>
                    <!-- Title -->
                    <div class="form-floating mb-3">
                        <input type="text"
                               [id]="FormControlNames.mediaForm.title"
                               [class]="!errorState.isTouchedOrDirty(FormControlNames.mediaForm.title, form)?'form-control form-control-sm':
                                                       errorState.isErrorState(FormControlNames.mediaForm.title, form, Form)?
                                                       'form-control form-control-sm is-invalid':'form-control form-control-sm is-valid'"
                               value=""
                               required
                               minlength="60"
                               maxlength="70"
                               [formControlName]="FormControlNames.mediaForm.title"
                               [placeholder]="FormFieldsNames.Media.title">
                        <div class="validationDiv">
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.title)?.hasError(FormValidationErrorsNames.required)
                                                  &&errorState.isErrorState(FormControlNames.mediaForm.title, form, Form)">
                                {{FormValidationErrors.RequiredField}}
                            </span>
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.title)?.hasError(FormValidationErrorsNames.minlength)
                                                  &&errorState.isErrorState(FormControlNames.mediaForm.title, form, Form)">
                                {{FormValidationErrors.SEO_Title_Length}}
                            </span>
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.title)?.hasError(FormValidationErrorsNames.maxlength)
                                                  &&errorState.isErrorState(FormControlNames.mediaForm.title, form, Form)">
                                {{FormValidationErrors.SEO_Title_Length}}
                            </span>
                        </div>
                        <label [for]="FormControlNames.mediaForm.alttext"
                               class="form-label">{{FormFieldsNames.Media.title}}</label>
                    </div><!-- end Title -->
                    <!-- Alt text -->
                    <div class="form-floating mb-3">
                        <input type="text"
                               [id]="FormControlNames.mediaForm.alttext"
                               [class]="!errorState.isTouchedOrDirty(FormControlNames.mediaForm.alttext, form)?'form-control form-control-sm':
                                                   errorState.isErrorState(FormControlNames.mediaForm.alttext, form, Form)?
                                                   'form-control form-control-sm is-invalid':'form-control form-control-sm is-valid'"
                               value=""
                               [formControlName]="FormControlNames.mediaForm.alttext"
                               [placeholder]="FormFieldsNames.Media.alttext">
                        <div class="validationDiv">
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.alttext)?.hasError(FormValidationErrorsNames.required)
                                              &&errorState.isErrorState(FormControlNames.mediaForm.alttext, form, Form)">
                                {{FormValidationErrors.RequiredField}}
                            </span>
                        </div>
                        <label [for]="FormControlNames.mediaForm.alttext"
                               class="form-label">{{FormFieldsNames.Media.alttext}}</label>
                    </div><!-- end Alt text -->
                    <!-- Description -->
                    <div class="form-floating mb-3">
                        <textarea required
                                  [id]="FormControlNames.mediaForm.description"
                                  style="resize: none; height: 120px;"
                                  rows="5"
                                  minlength="50"
                                  maxlength="160"
                                  [formControlName]="FormControlNames.mediaForm.description"
                                  [class]="!errorState.isTouchedOrDirty(FormControlNames.mediaForm.description, form)?'form-control form-control-sm':
                                               errorState.isErrorState(FormControlNames.mediaForm.description, form, Form)?
                                               'form-control form-control-sm is-invalid':'form-control form-control-sm is-valid'"
                                  id="description"
                                  [placeholder]="FormFieldsNames.Media.description"></textarea>
                        <div class="validationDiv">
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.description)?.hasError(FormValidationErrorsNames.required)
                                          &&errorState.isErrorState(FormControlNames.mediaForm.description, form, Form)">
                                {{FormValidationErrors.RequiredField}}
                            </span>
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.description)?.hasError(FormValidationErrorsNames.minlength)
                                          &&errorState.isErrorState(FormControlNames.mediaForm.description, form, Form)">
                                {{FormValidationErrors.SEO_Description_Length}}
                            </span>
                            <span class="invalid-feedback d-block m-0"
                                  *ngIf="form.get(FormControlNames.mediaForm.description)?.hasError(FormValidationErrorsNames.maxlength)
                                          &&errorState.isErrorState(FormControlNames.mediaForm.description, form, Form)">
                                {{FormValidationErrors.SEO_Description_Length}}
                            </span>
                        </div>
                        <label [for]="FormControlNames.mediaForm.description"
                               class="form-label">{{FormFieldsNames.Media.description}}</label>
                    </div><!-- end description -->
                    <!-- Caption -->
                    <div class="form-floating mb-3">
                        <textarea style="resize: none; height: 120px;"
                                  rows="5"
                                  [id]="FormControlNames.mediaForm.caption"
                                  [formControlName]="FormControlNames.mediaForm.caption"
                                  class="form-control form-control-sm"
                                  id="caption"
                                  [placeholder]="FormFieldsNames.Media.caption"></textarea>
                        <div class="validationDiv">

                        </div>
                        <label [for]="FormControlNames.mediaForm.caption"
                               class="form-label">{{FormFieldsNames.Media.caption}}</label>
                    </div><!-- end Cation -->
                    <button class="btn btn-sm btn-primary w-100"
                            [disabled]="form.invalid"
                            (click)="UpdateAttachment()">Save</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #AddFooter>
    <button class="btn btn-secondary"
            type="button"
            data-bs-dismiss="modal">Close</button>
    <button [disabled]="(selectedFile$|async)===null"
            *ngIf="setFeatureImageButton"
            class="btn btn-primary"
            type="button"
            (click)="featureImageClicked()"
            data-bs-dismiss="modal">Set as feature image</button>
</ng-template>