<form fxLayout="column"
      [formGroup]="form"
      #Form
      class="mt-2 mx-2 needs-validation"
      novalidate>
    <!-- ------------------------------------------------------------------------------- 
        |                               Title Add ot Edit
       ------------------------------------------------------------------------------------>
    <h1>
        <span *ngIf="Type===PostType.Add">Add new Post</span>
        <span *ngIf="Type===PostType.Edit">Edit Post : #{{(postById|async)?.id}}</span>
    </h1>
    <!-- ------------------------------------------------------------------------------- 
     |                               Validation Errors
    ------------------------------------------------------------------------------------>
    <div class="alert alert-danger"
         *ngIf="(ValidationErrors$!|async)?.length!>0">
        <p><strong>{{FormValidationErrors.PleaseCorrectErrors}}</strong></p>
        <ul>
            <li *ngFor="let error of (ValidationErrors$|async)">
                <strong>{{error.key}}</strong> : {{error.message}}
            </li>
        </ul>
    </div>
    <!-- ------------------------------------------------------------------------------- 
     |                               Sticky notes for errors
    ------------------------------------------------------------------------------------>

    <div class="d-flex flex-row"
         id="StickyNotesContainer"
         #StickyNotesContainerPost>
        <div [class]="form.invalid?
        'alert alert-info d-flex justify-content-center align-items-center'
        :'alert alert-success d-flex justify-content-center align-items-center'"
             #StickyNotesHandler
             (click)="ToggleStickyNotes()"
             (mouseleave)="closeStickyNotes()">
            <i class="bi bi-info-circle-fill"
               *ngIf="form.invalid"></i>
            <i class="bi bi-check-lg"
               *ngIf="form.valid"></i>
        </div>
        <div class="alert alert-info mb-0 small mb-2"
             #StickyNotes
             *ngIf="form.invalid"
             (mouseleave)="closeStickyNotes()">
            <p><strong>You have to do the following</strong></p>
            <ul class="mb-0">
                <li *ngIf="form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.required)">
                    Add post title
                </li>
                <li *ngIf="
                form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.minlength)
                || 
                form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.maxlength)">
                    Title shuold be 60 to 70 character long. <span class="text-danger">You entered
                        {{title.value.length}}
                        characters only</span>
                </li>
                <li *ngIf="form.get(FormControlNames.postForm.slug)?.hasError('notUnique')"
                    class="text-danger">
                    Slug should be unique. If you see this, this means that you have a post with the same title
                </li>
                <li
                    *ngIf="form.get(FormControlNames.postForm.htmlContent)?.hasError(FormValidationErrorsNames.required)">
                    Write post body
                </li>
                <li
                    *ngIf="form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.required)">
                    Write decription used by search engines for SEO.
                </li>
                <li *ngIf="
                form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.minlength)
                ||
                form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.maxlength)">
                    Title shuold be 50 to 160 character long. <span class="text-danger">You entered
                        {{desc.value.length}}
                        characters only</span>
                </li>
                <li *ngIf="form.get(FormControlNames.postForm.excerpt)?.hasError(FormValidationErrorsNames.required)">
                    Write excerpt to be shown for post in the home page.
                </li>
                <li
                    *ngIf="form.get(FormControlNames.postForm.featureImageUrl)?.hasError(FormValidationErrorsNames.required)">
                    Choose feature image.
                </li>
                <li
                    *ngIf="form.get(FormControlNames.postForm.categories)?.hasError(FormValidationErrorsNames.required)">
                    Choose at least one category.
                </li>
            </ul>
        </div>
        <div *ngIf="form.valid"
             class="alert alert-success">
            <span>You are ready to add the post</span>
        </div>
    </div>

    <div fxLayout="row"
         fxLayout.lt-md="column"
         fxLayoutGap="5px"
         fxLayoutAlign="space-between">
        <div fxFlex="77%"
             fxLayout="column">
            <!-- ------------------------------------------------------------------------------- 
            |                               Title Input 
            ------------------------------------------------------------------------------------>
            <mat-form-field appearance="legacy"
                            class="customMatFormField">
                <div class="input-group">
                    <span class="input-group-text">{{FormFieldsNames.Post.title}}
                        <span class="ps-1 text-danger"
                              *ngIf="form.get(FormControlNames.postForm.title)?.hasValidator(validators.required)">*</span>
                    </span>
                    <input type="text"
                           matNativeControl
                           [errorStateMatcher]="CustoErrorStateMatcher"
                           [formControlName]="FormControlNames.postForm.title"
                           #title
                           class="form-control"
                           minlength="60"
                           maxlength="70"
                           [value]="Type===PostType.Edit?(postById|async)?.title:''"
                           (input)="CreateSlug(title, slug)"
                           (blur)="CheckIfSulgNotUnique(slug)" />
                </div>
                <mat-error
                           *ngIf="form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.required)">
                    {{FormValidationErrors.RequiredField}}
                </mat-error>
                <mat-error
                           *ngIf="form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.maxlength)
                           ||form.get(FormControlNames.postForm.title)?.hasError(FormValidationErrorsNames.minlength)||title.value.length<=70">
                    {{FormValidationErrors.SEO_Title_Length}}
                </mat-error>
                <span matSuffix
                      class="ps-1">{{title.value.length}} characters</span>
            </mat-form-field>
            <!-- ------------------------------------------------------------------------------- 
            |                               Slug Input 
            ------------------------------------------------------------------------------------>
            <div class="input-group mb-3">
                <span class="input-group-text">{{FormFieldsNames.Post.slug}}</span>
                <input type="text"
                       disabled
                       [value]="Type===PostType.Edit?(postById|async)?.slug:''"
                       #slug
                       data-testid="slug"
                       class="form-control" />
            </div>
            <!-- ------------------------------------------------------------------------------- 
            |                               View and Html 
            ------------------------------------------------------------------------------------>
            <div>
                <tabset class="h-50 mb-5">
                    <tab heading="View"
                         id="tab1"
                         style="max-height: 550px;"
                         class="border ">
                        <CodingBible-editor [view]="view"
                                            [html]="html"
                                            (bindAttachments)="BindAttachmentsToPost($event)"
                                            [selectedText]="selectedText">
                        </CodingBible-editor>
                        <!-- -------------------------------------------------------------------------- 
                        |                               View  
                        ------------------------------------------------------------------------------->
                        <div #view
                             style="max-height: 500px; display:inline-block;"
                             [innerHtml]="Type===PostType.Edit?((postById|async)?.htmlContent| bypassStyle):''"
                             (input)="UpdateHtml(html,view)"
                             class="Editor bg-white p-2 overflow-auto"
                             data-testid="view"
                             id="EditorView"
                             (mouseup)="GetSelectedText()"
                             (keyup)="GetSelectedText()"
                             contenteditable="true">
                        </div>
                    </tab>
                    <tab heading="Html"
                         style="max-height: 500px;">
                        <!-- -------------------------------------------------------------------------- 
                        |                               Html   
                        ------------------------------------------------------------------------------->
                        <textarea name=""
                                  [formControlName]="FormControlNames.postForm.htmlContent"
                                  class="Editor border border-top-0 p-2"
                                  id=""
                                  style="max-height: 500px; resize: none;"
                                  [value]="Type===PostType.Edit?(postById|async)?.htmlContent:''"
                                  #html
                                  (input)="UpdateView(html, view)">
                        </textarea>
                    </tab>
                </tabset>
            </div>
            <!-- <editor (onSelectionChange)="GetData()"
                    plugins=" autolink lists media anchor autolink pagebreak visualblocks lists nonbreaking table wordcount autoresize autosave charmap fullscreen importcss link
            code codesample  directionality emoticons help hr image insertdatetime preview searchreplace template"
                    toolbar="'undo redo anchor | formatselect | bold italic underline| table template|ltr rtl link| forecolor backcolor|subscript superscript charmap|
                        alignleft aligncenter alignright alignjustify | codesample nonbreaking pagebreak preview searchreplace
                        | bullist numlist | outdent indent |code emoticons fullpage fullscreen image help visualblocks| insertdatetime'
                       "
                    [init]="{
                height : 1000,
                base_url: '/tinymce',
                suffix: '.min'
            }">
            </editor> -->
            <!-- -------------------------------------------------------------------------- 
            |                                  Category Card
            ------------------------------------------------------------------------------->
            <div class="card mt-3 flex-grow-1">
                <div class="card-header">
                    Choose categories
                </div>
                <div class="card-body"
                     style="height: 150px">
                    <div
                         [class]="form.get(FormControlNames.postForm.categories)?.valid?'w-100 border border-2 rounded-1 border-success h-100 overflow-auto p-2':'w-100 border border-2 border-danger rounded-1 h-100 overflow-auto p-2'">
                        <div class="form-check SelectCheckBoxes p-0 d-flex flex-row w-100 "
                             *ngFor="let cat of (cats$|async)">
                            <input type="checkbox"
                                   class="form-check-input"
                                   [ngStyle]="{'margin-left':cat.level*10+'px'}"
                                   [id]="cat.id"
                                   (click)="selectCategory(cat.id)"
                                   [value]="cat.id"
                                   [checked]="selectedCategories.includes(cat.id)" />
                            <label class="form-check-label ms-1 flex-grow-1"
                                   [for]="cat.id">
                                {{cat.name}}
                                <!-- <span *ngFor="let _ of [].constructor(cat.level)">— </span> {{cat.name}} -->
                            </label>
                        </div>
                    </div>
                    <div class="validationDiv">
                        <span class="invalid-feedback d-block m-0"
                              *ngIf="form.get(FormControlNames.postForm.categories)?.hasError(FormValidationErrorsNames.required)">
                            {{FormValidationErrors.RequiredField}}
                        </span>
                    </div>
                </div><!-- end card body -->
            </div><!-- end category card -->
        </div>
        <!-- -------------------------------------------------------------------------- 
        |                                  Side Bar
        ------------------------------------------------------------------------------->
        <div fxFlex="22%"
             fxLayout="column"
             fxLayoutGap="3px">
            <!-- -------------------------------------------------------------------------- 
             |                                  Publish Card
             ------------------------------------------------------------------------------->
            <div class="card">
                <div class="card-header">
                    Publish
                </div>
                <div class="card-body d-flex flex-column small">
                    <span><strong>Author: </strong>{{(user$|async)?.firstname}}</span>
                    <span *ngIf="(postById|async) && Type!=PostType.Add"><strong>Status: </strong>
                        <span *ngIf="(postById|async)?.status===0">Draft </span>
                        <span *ngIf="(postById|async)?.status===1">Published </span>
                        <span *ngIf="(postById|async)?.status===1 && Type!=PostType.Add">
                            (<a [class]="form.valid?'cursor-pointer':'cursor-pointer disabledAnchor'"
                               (click)="changeStatus(0)">Set as draft</a>)
                        </span>
                        <span *ngIf="(postById|async)?.status===0 && Type!=PostType.Add">
                            (<a [class]="form.valid || (postById|async)?.htmlContent!==''?'cursor-pointer':'cursor-pointer disabledAnchor'"
                               (click)="changeStatus(1)">Publish</a>)
                        </span>
                    </span>
                    <span *ngIf="(postById|async) &&Type!=PostType.Add"><strong>Created At: </strong>
                        <span>{{(postById|async)?.dateCreated|date}}</span>
                    </span>
                    <span *ngIf="(postById|async) &&Type!=PostType.Add"><strong>Last modified: </strong>
                        <span>{{(postById|async)?.lasModified|date}}</span>
                    </span>
                    <span *ngIf="(postById|async) &&Type!=PostType.Add"><strong>Published At: </strong>
                        <span>{{(postById|async)?.publishedDate|date}}</span>
                    </span>
                </div>
                <!-- -------------------------------------------------------------------------- 
                |                         Update and delete buttons
                ------------------------------------------------------------------------------->
                <div class="card-footer text-muted"
                     fxLayout="row"
                     fxLayoutAlign="start"
                     fxLayoutGap="10px"
                     *ngIf="Type == PostType.Edit">
                    <button type="button"
                            (click)="UpdateClicked()"
                            [disabled]="form.invalid || !ClientSideService.isUpdated(post, form)"
                            class="btn btn-outline-primary btn-sm">Update</button>
                    <button type="button"
                            (click)="DeleteClicked()"
                            class="btn btn-danger btn-sm">Delete</button>
                </div>
                <!-- -------------------------------------------------------------------------- 
                |                      Save as draft and publish buttons
                ------------------------------------------------------------------------------->
                <div class="card-footer text-muted "
                     fxLayout="row"
                     fxLayoutAlign="start"
                     fxLayoutGap="10px"
                     *ngIf="Type == PostType.Add">
                    <button type="button"
                            (click)="DraftOrPublish(view, 'Draft')"
                            [disabled]="form.invalid"
                            data-testid="DraftBtn"
                            class="btn btn-outline-primary btn-sm">Save as Draft</button>
                    <button type="button"
                            data-testid="PublishBtn"
                            [disabled]="form.invalid"
                            class="btn btn-outline-primary btn-sm"
                            (click)="DraftOrPublish(view,'Publish')">Publish</button>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- 
            |                                  Excerpt Card
            ------------------------------------------------------------------------------->
            <div class="card h-25">
                <div class="card-header">
                    Excerpt
                </div>
                <div class="card-body"
                     style="height: 135px;">
                    <textarea style="resize: none;"
                              [class]="!errorState.isTouchedOrDirty(FormControlNames.postForm.excerpt, form)?'h-100 form-control w-100 h-100': errorState.isErrorState(FormControlNames.postForm.excerpt, form, Form)?
                    'form-control h-100 is-invalid w-100 h-100':'h-100 form-control is-valid w-100 h-100'"
                              [value]="Type===PostType.Edit?(postById|async)?.excerpt:''"
                              [formControlName]="FormControlNames.postForm.excerpt"
                              style="resize: none;"></textarea>
                    <div class="validationDiv">
                        <span class="invalid-feedback d-block m-0"
                              *ngIf="form.get(FormControlNames.postForm.excerpt)?.hasError(FormValidationErrorsNames.required)
                                        &&errorState.isErrorState(FormControlNames.postForm.excerpt, form, Form)">
                            {{FormValidationErrors.RequiredField}}
                        </span>
                    </div>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- 
            |                                  Description Card
            ------------------------------------------------------------------------------->
            <div class="card h-50">
                <div class="card-header">
                    Description (for SEO)
                </div>
                <div class="card-body"
                     style="height: 135px;">
                    <textarea #desc
                              [formControlName]="FormControlNames.postForm.description"
                              [class]="!errorState.isTouchedOrDirty(FormControlNames.postForm.description, form)?'h-100 form-control w-100 h-100': errorState.isErrorState(FormControlNames.postForm.description, form, Form)?
                              'form-control h-100 is-invalid w-100 h-100':'h-100 form-control is-valid w-100 h-100'"
                              minlength="50"
                              maxlength="160"
                              [value]="Type===PostType.Edit?(postById|async)?.description:''"
                              style="resize: none;"></textarea>
                    <div class="validationDiv">
                        <span class="invalid-feedback d-block m-0"
                              *ngIf="form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.required)
                                                &&errorState.isErrorState(FormControlNames.postForm.description, form, Form)">
                            {{FormValidationErrors.RequiredField}}
                        </span>
                        <span class="invalid-feedback d-block m-0"
                              *ngIf="(form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.maxlength)
                              ||form.get(FormControlNames.postForm.description)?.hasError(FormValidationErrorsNames.minlength)||desc.value.length<=160)
                                                &&errorState.isErrorState('src', form, Form)">
                            <span>50 to 160 character long.</span>
                        </span>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <span class="text-primary small">Character count: {{desc.value.length}}
                    </span>
                </div>
            </div>
            <!-- -------------------------------------------------------------------------- 
            |                                  Feature Image Card
            ------------------------------------------------------------------------------->
            <div class="card h-50">
                <div class="card-header">
                    Feature image
                </div>
                <div (click)="media.Toggle()"
                     class="card-body d-flex flex-row justify-content-center btn align-items-center p-0"
                     style="height: 150px">
                    <div *ngIf="post.featureImageUrl===''"
                         class="w-100 h-100 bg-light d-flex flex-row align-items-center justify-content-center border border-danger">
                        <i class="bi bi-image"></i>
                    </div>
                    <img *ngIf="post.featureImageUrl!==''"
                         [src]="post.featureImageUrl"
                         class="img-thumbnail border border-success"
                         alt="feature image">
                    <div class="validationDiv"
                         *ngIf="post.featureImageUrl===''">
                        <span class="invalid-feedback d-block m-0">
                            Choose the feature image
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <a *ngIf="post.featureImageUrl!==''"
                       class="text-danger text-decoration-none cursor-pointer"
                       (click)="removeFeatureImage()">Remove feature image</a>
                    <a *ngIf="post.featureImageUrl===''"
                       class="text-secondary text-decoration-none">Remove feature image</a>
                </div>
            </div><!-- end feature image card -->
        </div>
    </div>

</form>
<app-media #media
           [setFeatureImageButton]="true"
           (setFeatureImage)="SetFeatureImage($event)"></app-media>